<?xml version="1.0"?>
<config>
    <modules>
        <TBT_Bss>
            <version>3.5.1.1</version>
        </TBT_Bss>
    </modules>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <bss after="Mage_Adminhtml">TBT_Bss</bss>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <frontend>
        <routers>
            <bss>
                <use>standard</use>
                <args>
                    <module>TBT_Bss</module>
                    <frontName>bss</frontName>
                </args>
            </bss>
        </routers>
        <layout>
            <updates>
                <bss>
                    <file>bss.xml</file>
                </bss>
            </updates>
        </layout>
        <translate>
            <modules>
                <TBT_Bss>
                    <files>
                        <default>TBT_Bss.csv</default>
                    </files>
                </TBT_Bss>
            </modules>
        </translate>

        <events>
        </events>

        <product>
            <collection>
                <attributes>
                    <bss_weight />
                </attributes>
            </collection>
        </product>

    </frontend>

    <adminhtml>
        <translate>
            <modules>
                <TBT_Bss>
                    <files>
                        <default>TBT_Bss.csv</default>
                    </files>
                </TBT_Bss>
            </modules>
        </translate>
        <layout>
            <updates>
                <bss>
                    <file>bss.xml</file>
                </bss>
            </updates>
        </layout>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <bss>
                                            <title>Better Store Search</title>
                                        </bss>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>

    <global>
        <models>
            <bss>
                <class>TBT_Bss_Model</class>
                <resourceModel>bss_mysql4</resourceModel>
            </bss>
            <bss_mysql4>
                <class>TBT_Bss_Model_Mysql4</class>
                <entities>
                    <index>
                        <table>bss_index</table>
                    </index>
                    <cms_index>
                        <table>bss_cms_index</table>
                    </cms_index>
                    <cms_result>
                        <table>bss_cms_result</table>
                    </cms_result>
                </entities>
            </bss_mysql4>
            <catalogsearch>
                <rewrite>
                    <fulltext>TBT_Bss_Model_CatalogSearch_Fulltext</fulltext>
                </rewrite>
            </catalogsearch>
            <catalogsearch_mysql4>
                <rewrite>
                    <fulltext>TBT_Bss_Model_CatalogSearch_Mysql4_Fulltext</fulltext>
                    <fulltext_collection>TBT_Bss_Model_CatalogSearch_Mysql4_Fulltext_Collection</fulltext_collection>
                </rewrite>
            </catalogsearch_mysql4>
            <catalogindex_mysql4>
                <rewrite>
                    <price>TBT_Bss_Model_CatalogIndex_Mysql4_Price</price>
                    <attribute>TBT_Bss_Model_CatalogIndex_Mysql4_Attribute</attribute>
                </rewrite>
            </catalogindex_mysql4>
            <catalog_resource_eav_mysql4>
                <rewrite>
                    <layer_filter_attribute>TBT_Bss_Model_Catalog_Resource_Eav_Mysql4_Layer_Filter_Attribute</layer_filter_attribute>
                    <layer_filter_price>TBT_Bss_Model_Catalog_Resource_Eav_Mysql4_Layer_Filter_Price</layer_filter_price>
                    <layer_filter_decimal>TBT_Bss_Model_Catalog_Resource_Eav_Mysql4_Layer_Filter_Decimal</layer_filter_decimal>
                </rewrite>
            </catalog_resource_eav_mysql4>

        </models>

        <resources>
            <bss_setup>
                <setup>
                    <module>TBT_Bss</module>
                    <class>TBT_Bss_Model_Mysql4_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </bss_setup>
            <bss_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </bss_write>
            <bss_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </bss_read>
        </resources>
        <blocks>
            <bss>
                <class>TBT_Bss_Block</class>
            </bss>
            <catalog>
                <rewrite>
                    <product_list_toolbar>TBT_Bss_Block_Catalog_Product_List_Toolbar</product_list_toolbar>
                </rewrite>
            </catalog>
            <catalogsearch>
                <rewrite>
                    <result>TBT_Bss_Block_CatalogSearch_Result</result>
                </rewrite>
            </catalogsearch>

        </blocks>
        <helpers>
            <bss>
                <class>TBT_Bss_Helper</class>
            </bss>
        </helpers>
        <index>
            <indexer>
                <bss_fulltext>
                    <model>bss/indexer_fulltext</model>
                </bss_fulltext>
            </indexer>
        </index>

        <events>
            <controller_action_postdispatch_adminhtml_process_massReindex>
                <observers>
                    <tbt_bss_indexer_fulltext_updateAfterMassReindex>
                        <type>singleton</type>
                        <class>bss/indexer_fulltext</class>
                        <method>updateAfterMassReindex</method>
                    </tbt_bss_indexer_fulltext_updateAfterMassReindex>
                </observers>
            </controller_action_postdispatch_adminhtml_process_massReindex>
            <controller_action_postdispatch_adminhtml_process_reindexProcess>
                <observers>
                    <tbt_bss_indexer_fulltext_updateAfterCatalogSearchReindex>
                        <type>singleton</type>
                        <class>bss/indexer_fulltext</class>
                        <method>updateAfterIndivIndex</method>
                    </tbt_bss_indexer_fulltext_updateAfterCatalogSearchReindex>
                </observers>
            </controller_action_postdispatch_adminhtml_process_reindexProcess>
            <catalogsearch_query_save_before>
                <observers>
                    <tbt_bss_cms_observer>
                        <type>singleton</type>
                        <class>bss/cms_observer</class>
                        <method>prepareQuery</method>
                    </tbt_bss_cms_observer>
                </observers>
            </catalogsearch_query_save_before>
            <cms_page_save_commit_after>
                <observers>
                    <tbt_bss_indexer_observer>
                        <class>bss/indexer_observer</class>
                        <method>processCmsPageSave</method>
                    </tbt_bss_indexer_observer>
                </observers>
            </cms_page_save_commit_after>
            <cms_page_delete_commit_after>
                <observers>
                    <tbt_bss_indexer_observer>
                        <class>bss/indexer_observer</class>
                        <method>processCmsPageDelete</method>
                    </tbt_bss_indexer_observer>
                </observers>
            </cms_page_delete_commit_after>
            <tag_save_after>
                <observers>
                    <tbt_bss_tag_save_after>
                        <class>bss/indexer_observer</class>
                        <method>processIndexer</method>
                    </tbt_bss_tag_save_after>
                </observers>
            </tag_save_after>
            <catalog_category_save_after>
                 <observers>
                    <tbt_bss_catalog_category_save_after>
                        <class>bss/indexer_observer</class>
                        <method>processCategoriesIndexes</method>
                    </tbt_bss_catalog_category_save_after>
                </observers>
            </catalog_category_save_after>
            <catalog_category_delete_after>
                 <observers>
                    <tbt_bss_catalog_category_delete_after>
                        <class>bss/indexer_observer</class>
                        <method>processCategoriesIndexes</method>
                    </tbt_bss_catalog_category_delete_after>
                </observers>
            </catalog_category_delete_after>
            <controller_action_predispatch_adminhtml_system_config_edit>
                <observers>
                    <bss_platform_observer>
                        <class>bss/platform_observer</class>
                        <method>initBssConfig</method>
                    </bss_platform_observer>
                </observers>
            </controller_action_predispatch_adminhtml_system_config_edit>
        </events>
    </global>

    <bss>
        <relevance_algorithms>
            <!-- @nelkaake -a 16/11/10: NOTE THE CAPTIAL 'S'! -->
            <indiwordmatch>
                <class>bss/catalogSearch_relevence_algorithm_indiWordMatch</class>
            </indiwordmatch>
            <fullquerymatch>
                <class>bss/catalogSearch_relevence_algorithm_fullQueryMatch</class>
            </fullquerymatch>
            <fullquerytagmatch>
                <class>bss/catalogSearch_relevence_algorithm_fullQueryTagMatch</class>
            </fullquerytagmatch>
            <fullquerycategorymatch>
                <class>bss/catalogSearch_relevence_algorithm_fullQueryCategoryMatch</class>
            </fullquerycategorymatch>
            <skumatch>
                <class>bss/catalogSearch_relevence_algorithm_skuMatch</class>
            </skumatch>
            <manprodmodifiers>
                <class>bss/catalogSearch_relevence_algorithm_manProdModifiers</class>
            </manprodmodifiers>
            <mancatmodifiers>
                <class>bss/catalogSearch_relevence_algorithm_manCatModifiers</class>
            </mancatmodifiers>
        </relevance_algorithms>
    </bss>

    <default>
        <bss>
            <search_engine>
                <enable>1</enable>
            </search_engine>
            <aw>
                <name>1</name>
                <tag_name>1</tag_name>
                <sku>1</sku>
                <cat_name>1</cat_name>
            </aw>
            <match>
                <tag>1</tag>
                <category_names>1</category_names>
            </match>
            <dym>
                <is_enabled>1</is_enabled>
                <num_matches>1</num_matches>
                <use_rewrite>1</use_rewrite>
            </dym>
            <match>
                <category_names>1</category_names>
            </match>
            <special>
                <hyphen>1</hyphen>
                <plural>1</plural>
                <catalog>1</catalog>
                <search_mode>1</search_mode>
                <partial_word_matching>1</partial_word_matching>
            </special>
            <cms_search>
                <cms>1</cms>
            </cms_search>
        </bss>
    </default>

    <testsweet>
        <tests>
            <bss>
                <suites>
                    <database>TBT_Bss_Model_Test_Suite_Bss_Database</database>
                    <template>TBT_Bss_Model_Test_Suite_Bss_Template</template>
                </suites>
            </bss>
        </tests>
    </testsweet>
</config>
