<?xml version="1.0"?>
<!-- 
/**
 * @category   EM
 * @package    EM_Slideshow2
 * @author     Emthemes <emthemes.com>
 */
 -->
<config>
    <modules>
        <EM_Slideshow2>
            <version>0.1.0</version>
        </EM_Slideshow2>
    </modules>
    <frontend>
        <routers>
            <slideshow2>
                <use>standard</use>
                <args>
                    <module>EM_Slideshow2</module>
                    <frontName>slideshow2</frontName>
                </args>
            </slideshow2>
        </routers>
        <layout>
            <updates>
                <slideshow2>
                    <file>em_slideshow2.xml</file>
                </slideshow2>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <slideshow2 before="Mage_Adminhtml">EM_Slideshow2_Adminhtml</slideshow2>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
		<menu>
			<emthemes module="slideshow2" translate="title">
                <title>EMThemes</title>
                <sort_order>73</sort_order>
                <children>
                    <slideshow2 module="slideshow2">
                        <title>EM Slideshow</title>
                        <sort_order>170</sort_order>
                        <action>adminhtml/slider</action>
                    </slideshow2>
                </children>
            </emthemes>
		</menu>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<cms>
							<children>
								<slideshow2 module="slideshow2">
									<title>EM Slideshow</title>
									<sort_order>21</sort_order>
									<children>
										<save translate="title">
											<title>Save Slide</title>
											<sort_order>0</sort_order>
										</save>
										<delete translate="title">
											<title>Delete Slide</title>
											<sort_order>10</sort_order>
										</delete>
									</children>
								</slideshow2>
							</children>
						</cms>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<slideshow2>
					<file>em_slideshow2.xml</file>
				</slideshow2>
			</updates>
		</layout>
    </adminhtml>   
    <global>
        <models>
            <slideshow2>
                <class>EM_Slideshow2_Model</class>
                <resourceModel>slideshow2_mysql4</resourceModel>
            </slideshow2>
            <slideshow2_mysql4>
                <class>EM_Slideshow2_Model_Mysql4</class>
                <entities>
                    <media>
                        <table>em_slideshow2_media</table>
                    </media>
					<slider>
                        <table>em_slideshow2_slider</table>
                    </slider>
                </entities>
            </slideshow2_mysql4>
        </models>
        <resources>
            <slideshow2_setup>
                <setup>
                    <module>EM_Slideshow2</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </slideshow2_setup>
            <slideshow2_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </slideshow2_write>
            <slideshow2_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </slideshow2_read>
        </resources>
        <blocks>
            <slideshow2>
                <class>EM_Slideshow2_Block</class>
            </slideshow2>
        </blocks>
        <helpers>
            <slideshow2>
                <class>EM_Slideshow2_Helper</class>
            </slideshow2>
        </helpers>
    </global>
</config>