<?xml version="1.0"?>
<config>
    <modules>
        <ProxiBlue_GiftPromo>
            <version>2.5.5</version>
            <depends>
                <Mage_Core/>
                <Mage_Catalog/>
                <Mage_Adminhtml/>
                <Mage_Sales/>
                <Mage_Checkout/>
                <Mage_Customer/>
                <Mage_Newsletter/>
            </depends>
        </ProxiBlue_GiftPromo>
    </modules>
    <global>
        <models>
            <giftpromo>
                <class>ProxiBlue_GiftPromo_Model</class>
                <resourceModel>giftpromo_resource</resourceModel>
            </giftpromo>
            <giftpromo_resource>
                <class>ProxiBlue_GiftPromo_Model_Resource</class>
                <deprecatedNode>giftpromo_mysql4</deprecatedNode>
                <entities>
                    <promo_rule>
                        <table>giftpromo_promo_rule</table>
                    </promo_rule>
                    <promo_coupon>
                        <table>giftpromo_promo_coupon</table>
                    </promo_coupon>
                    <promo_coupon_usage>
                        <table>giftpromo_promo_coupon_usage</table>
                    </promo_coupon_usage>
                    <promo_rule_customer>
                        <table>giftpromo_promo_customer</table>
                    </promo_rule_customer>
                </entities>
            </giftpromo_resource>
            <sales_resource>
                <rewrite>
                    <quote_item_collection>ProxiBlue_GiftPromo_Model_Sales_Resource_Quote_Item_Collection</quote_item_collection>
                </rewrite>
            </sales_resource>
            <sales>
                <rewrite>
                    <quote>ProxiBlue_GiftPromo_Model_Sales_Quote</quote>
                    <quote_item>ProxiBlue_GiftPromo_Model_Sales_Quote_Item</quote_item>
                </rewrite>
            </sales><!--
                this exists purely to hide product type gift from admin where product type is used to create new product or grid filter
                If it conflicts with any 3rd party module, it can be safely removed, but note that attempting to create a new product of type gift may not work as expected (yet)
            -->
            <catalog>
                <rewrite>
                    <product_type>ProxiBlue_GiftPromo_Model_Product_Type</product_type>
                </rewrite>
            </catalog>
            <!-- exists to ensure Gift promo coupon data does not mix in with sales rules coupon data in reports -->
            <salesrule_resource>
                <rewrite>
                    <report_rule_createdat>ProxiBlue_GiftPromo_Model_Resource_Promo_Report_Rule_Createdat</report_rule_createdat>
                    <report_rule_updatedat>ProxiBlue_GiftPromo_Model_Resource_Promo_Report_Rule_Updatedat</report_rule_updatedat>
                </rewrite>
            </salesrule_resource>
        </models>
        <blocks>
            <giftpromo>
                <class>ProxiBlue_GiftPromo_Block</class>
            </giftpromo>
            <sales>
                <rewrite>
                    <reorder_sidebar>ProxiBlue_GiftPromo_Block_Sales_Reorder_Sidebar</reorder_sidebar>
                </rewrite>
            </sales>
        </blocks>
        <helpers>
            <giftpromo>
                <class>ProxiBlue_GiftPromo_Helper</class>
            </giftpromo>
        </helpers>
        <resources>
            <proxiblue_giftpromo2_setup>
                <setup>
                    <module>ProxiBlue_GiftPromo</module>
                    <class>ProxiBlue_GiftPromo_Model_Resource_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </proxiblue_giftpromo2_setup>
        </resources>
        <catalog>
            <product>
                <type>
                    <gift-simple translate="label" module="giftpromo">
                        <label>Simple Gift Product</label>
                        <model>giftpromo/product_type_gift_simple</model>
                        <composite>0</composite>
                        <index_priority>12</index_priority>
                        <qty>1</qty>
                        <price_model>giftpromo/product_type_gift_simple_price</price_model>
                    </gift-simple>
                    <gift-configurable translate="label" module="giftpromo">
                        <label>Configurable Gift Product</label>
                        <model>giftpromo/product_type_gift_configurable</model>
                        <composite>1</composite>
                        <index_priority>13</index_priority>
                        <qty>1</qty>
                        <price_model>giftpromo/product_type_gift_configurable_price</price_model>
                        <allow_product_types>
                            <simple/>
                            <virtual/>
                        </allow_product_types>
                    </gift-configurable>
                    <gift-downloadable translate="label" module="giftpromo">
                        <label>Downloadable Gift Product</label>
                        <model>giftpromo/product_type_gift_downloadable</model>
                        <is_qty>1</is_qty>
                        <price_model>giftpromo/product_type_gift_downloadable_price</price_model>
                        <composite>0</composite>
                        <can_use_qty_decimals>0</can_use_qty_decimals>
                    </gift-downloadable>
                </type>
            </product>
        </catalog>
        <events>
            <sales_order_place_after>
                <observers>
                    <gift_products_sales_order_place_after>
                        <class>giftpromo/sales_observer</class>
                        <method>sales_order_place_after</method>
                    </gift_products_sales_order_place_after>
                </observers>
            </sales_order_place_after>
            <sales_quote_item_set_product>
                <observers>
                    <gift_products_sales_quote_item_set_product>
                        <type>singleton</type>
                        <class>giftpromo/sales_observer</class>
                        <method>sales_quote_item_set_product</method>
                    </gift_products_sales_quote_item_set_product>
                </observers>
            </sales_quote_item_set_product>
            <sales_quote_remove_item>
                <observers>
                    <gift_products_sales_quote_remove_item>
                        <type>singleton</type>
                        <class>giftpromo/sales_observer</class>
                        <method>sales_quote_remove_item</method>
                    </gift_products_sales_quote_remove_item>
                </observers>
            </sales_quote_remove_item>
            <checkout_cart_product_add_after>
                <observers>
                    <gift_products_checkout_cart_product_add_after>
                        <type>singleton</type>
                        <class>giftpromo/checkout_observer</class>
                        <method>checkout_cart_product_add_after</method>
                    </gift_products_checkout_cart_product_add_after>
                </observers>
            </checkout_cart_product_add_after>
            <sales_convert_quote_item_to_order_item>
                <observers>
                    <gift_products_sales_convert_quote_item_to_order_item>
                        <type>singleton</type>
                        <class>giftpromo/sales_observer</class>
                        <method>sales_convert_quote_item_to_order_item</method>
                    </gift_products_sales_convert_quote_item_to_order_item>
                </observers>
            </sales_convert_quote_item_to_order_item>
            <!--            <controller_action_predispatch_checkout_onepage_index>
            <observers>
                    <gift_products_controller_action_predispatch_checkout_onepage_index>
                    <type>singleton</type>
                    <class>giftpromo/checkout_observer</class>
                    <method>controller_action_predispatch_checkout_onepage_index</method>
                    </gift_products_controller_action_predispatch_checkout_onepage_index>
            </observers>
            </controller_action_predispatch_checkout_onepage_index>-->
            <checkout_type_onepage_save_order>
                <observers>
                    <gift_products_checkout_type_onepage_save_order>
                        <type>singleton</type>
                        <class>giftpromo/checkout_observer</class>
                        <method>checkout_type_onepage_save_order</method>
                    </gift_products_checkout_type_onepage_save_order>
                </observers>
            </checkout_type_onepage_save_order>
            <sales_model_service_quote_submit_after>
                <observers>
                    <gift_products_sales_model_service_quote_submit_after>
                        <type>singleton</type>
                        <class>giftpromo/sales_observer</class>
                        <method>sales_model_service_quote_submit_after</method>
                    </gift_products_sales_model_service_quote_submit_after>
                </observers>
            </sales_model_service_quote_submit_after>
            <sales_order_item_collection_load_before>
                <observers>
                    <gift_products_sales_order_item_collection_load_before>
                        <type>singleton</type>
                        <class>giftpromo/sales_observer</class>
                        <method>sales_order_item_collection_load_before</method>
                    </gift_products_sales_order_item_collection_load_before>
                </observers>
            </sales_order_item_collection_load_before>
            <!--            <sales_quote_save_after>
            <observers>
                    <gift_products_sales_quote_save_after>
                    <type>singleton</type>
                    <class>giftpromo/sales_observer</class>
                    <method>sales_quote_save_after</method>
                    </gift_products_sales_quote_save_after>
            </observers>
            </sales_quote_save_after>-->
            <load_customer_quote_before>
                <observers>
                    <gift_products_load_customer_quote_before>
                        <type>singleton</type>
                        <class>giftpromo/sales_observer</class>
                        <method>load_customer_quote_before</method>
                    </gift_products_load_customer_quote_before>
                </observers>
            </load_customer_quote_before>
            <sales_convert_quote_to_order>
                <observers>
                    <salesrule>
                        <class>giftpromo/sales_observer</class>
                        <method>addRuleNameToOrder</method>
                    </salesrule>
                </observers>
            </sales_convert_quote_to_order>
        </events>
        <sales>
            <quote>
                <totals>
                    <nominal>
                        <sort_order>12301</sort_order>
                    </nominal>
                    <subtotal>
                        <sort_order>12310</sort_order>
                    </subtotal>
                    <msrp>
                        <sort_order>12320</sort_order>
                    </msrp>
                    <freeshipping>
                        <sort_order>12340</sort_order>
                    </freeshipping>
                    <tax_subtotal>
                        <sort_order>12350</sort_order>
                    </tax_subtotal>
                    <shipping>
                        <sort_order>12360</sort_order>
                    </shipping>
                    <gomage_gift_wrap>
                        <sort_order>12461</sort_order>
                    </gomage_gift_wrap>
                    <surcharge>
                        <sort_order>12370</sort_order>
                    </surcharge>
                    <tax_shipping>
                        <sort_order>12380</sort_order>
                    </tax_shipping>
                    <weee>
                        <sort_order>12390</sort_order>
                    </weee>
                    <discount>
                        <sort_order>12400</sort_order>
                    </discount>
                    <giftpromo>
                        <class>giftpromo/promo_gift</class>
                        <after>discount</after>
                        <before>tax,grand_total</before>
                        <sort_order>12410</sort_order>
                    </giftpromo>
                    <tax>
                        <sort_order>12410</sort_order>
                    </tax>
                    <freegift>
                        <sort_order>12420</sort_order>
                    </freegift>
                    <grand_total>
                        <sort_order>12430</sort_order>
                    </grand_total>
                    <customoptions>
                        <sort_order>12440</sort_order>
                    </customoptions>
                </totals>
            </quote>
        </sales>
        <fieldsets>
            <sales_convert_quote>
                <applied_gift_rule_ids>
                    <to_order>*</to_order>
                </applied_gift_rule_ids>
            </sales_convert_quote>
            <sales_convert_quote_item>
                <applied_gift_rule_ids>
                    <to_order_item>*</to_order_item>
                </applied_gift_rule_ids>
            </sales_convert_quote_item>
            <sales_convert_order>
                <applied_gift_rule_ids>
                    <to_quote>*</to_quote>
                </applied_gift_rule_ids>
            </sales_convert_order>
            <sales_convert_order_item>
                <applied_gift_rule_ids>
                    <to_quote_item>*</to_quote_item>
                </applied_gift_rule_ids>
            </sales_convert_order_item>
        </fieldsets>
    </global>
    <adminhtml>
        <translate>
            <modules>
                <ProxiBlue_GiftPromo>
                    <files>
                        <default>ProxiBlue_GiftPromo.csv</default>
                    </files>
                </ProxiBlue_GiftPromo>
            </modules>
        </translate>
        <layout>
            <updates>
                <giftpromo>
                    <file>giftpromo.xml</file>
                </giftpromo>
            </updates>
        </layout>
    </adminhtml>
    <frontend>
        <translate>
            <modules>
                <ProxiBlue_GiftPromo>
                    <files>
                        <default>ProxiBlue_GiftPromo.csv</default>
                    </files>
                </ProxiBlue_GiftPromo>
            </modules>
        </translate>
        <layout>
            <updates>
                <giftpromo>
                    <file>giftpromo.xml</file>
                </giftpromo>
            </updates>
        </layout>
        <!-- used for re-order -->
        <routers>
            <sales>
                <args>
                    <modules>
                        <giftpromo before="Mage_Sales">ProxiBlue_GiftPromo_Sales</giftpromo>
                    </modules>
                </args>
            </sales>
            <checkout>
                <args>
                    <modules>
                        <giftpromo before="Mage_Checkout">ProxiBlue_GiftPromo</giftpromo>
                    </modules>
                </args>
            </checkout>
        </routers>
    </frontend>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <giftpromo after="Mage_Adminhtml">ProxiBlue_GiftPromo_Adminhtml</giftpromo>
                    </modules>
                </args>
            </adminhtml>
            <giftpromo>
                <use>admin</use>
                <args>
                    <module>ProxiBlue_GiftPromo</module>
                    <frontName>giftpromo</frontName>
                </args>
            </giftpromo>
        </routers>
    </admin>
    <default>
        <giftpromo>
            <twitter>
                <use_cache>1</use_cache>
                <cache_period>3600</cache_period>
            </twitter>
        </giftpromo>
    </default>
</config>