<?xml version="1.0"?>
<config>
    <modules>
        <AW_Marketsuite>
            <version>2.1.1</version><platform>ce</platform>
        </AW_Marketsuite>
    </modules>
    <admin>
        <routers>
            <marketsuite>
                <use>admin</use>
                <args>
                    <module>AW_Marketsuite</module>
                    <frontName>marketsuite</frontName>
                </args>
            </marketsuite>
        </routers>
    </admin>
    <adminhtml>
        <menu>
            <marketsuite>
                <title>MSS</title>
                <sort_order>85</sort_order>
                <children>
                    <managerules>
                        <title>Manage Rules</title>
                        <sort_order>10</sort_order>
                        <action>marketsuite/adminhtml_filter</action>
                    </managerules>
                </children>
                <children>
                    <orders>
                        <title>Orders</title>
                        <sort_order>20</sort_order>
                        <action>marketsuite/adminhtml_order</action>
                    </orders>
                </children>
                <children>
                    <customers>
                        <title>Customers</title>
                        <sort_order>30</sort_order>
                        <action>marketsuite/adminhtml_customer</action>
                    </customers>
                </children>
            </marketsuite>
        </menu>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <marketsuite>
                            <title>MSS</title>
                            <sort_order>85</sort_order>
                            <children>
                                <managerules>
                                    <title>Manage Rules</title>
                                    <sort_order>10</sort_order>
                                    <action>marketsuite/adminhtml_filter</action>
                                </managerules>
                            </children>
                            <children>
                                <orders>
                                    <title>Orders</title>
                                    <sort_order>20</sort_order>
                                    <action>marketsuite/adminhtml_order</action>
                                </orders>
                            </children>
                            <children>
                                <customers>
                                    <title>Customers</title>
                                    <sort_order>30</sort_order>
                                    <action>marketsuite/adminhtml_customer</action>
                                </customers>
                            </children>
                        </marketsuite>
                    </children>
                </admin>
            </resources>
        </acl>
        <layout>
            <updates>
                <marketsuite>
                    <file>marketsuite.xml</file>
                </marketsuite>
            </updates>
        </layout>
        <translate>
            <modules>
                <AW_Giftwrap>
                    <files>
                        <default>AW_Marketsuite.csv</default>
                    </files>
                </AW_Giftwrap>
            </modules>
        </translate>
    </adminhtml>
    <global>
        <models>
            <marketsuite>
                <class>AW_Marketsuite_Model</class>
                <resourceModel>marketsuite_resource</resourceModel>
            </marketsuite>
            <marketsuite_resource>
                <class>AW_Marketsuite_Model_Resource</class>
                <entities>
                    <filters>
                        <table>aw_marketsuite_filters</table>
                    </filters>
                    <index_customer>
                        <table>aw_marketsuite_index_customer</table>
                    </index_customer>
                    <index_order>
                        <table>aw_marketsuite_index_order</table>
                    </index_order>
                </entities>
            </marketsuite_resource>
        </models>
        <resources>
            <marketsuite_setup>
                <setup>
                    <module>AW_Marketsuite</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </marketsuite_setup>
            <marketsuite_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </marketsuite_write>
            <marketsuite_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </marketsuite_read>
        </resources>
        <blocks>
            <marketsuite>
                <class>AW_Marketsuite_Block</class>
            </marketsuite>
        </blocks>
        <helpers>
            <marketsuite>
                <class>AW_Marketsuite_Helper</class>
            </marketsuite>
        </helpers>
        <rewrite>
            <marketsuite_adminhtml_order>
                <from><![CDATA[#^/admin/sales_order/export#]]></from>
                <to>/marketsuite/adminhtml_order/export</to>
            </marketsuite_adminhtml_order>
        </rewrite>
    </global>
    <crontab>
        <jobs>
            <aw_mss_update_all>
                <schedule>
                    <cron_expr>0 2 * * *</cron_expr>
                </schedule>
                <run>
                    <model>marketsuite/cron::updateAll</model>
                </run>
            </aw_mss_update_all>
            <aw_mss_update_alpha>
                <schedule>
                    <cron_expr>*/10 * * * *</cron_expr>
                </schedule>
                <run>
                    <model>marketsuite/cron::updateAlpha</model>
                </run>
            </aw_mss_update_alpha>
        </jobs>
    </crontab>
</config>
