
@media only screen and (min-width: 992px) and (max-width: 1200px) { 
	.first-lselect, .first-rselect{
		width:42%;
	} 
	.left-brand > a img {
	  margin-right: 5px;
	  width: 65px;
	}
  
}

@media all and (max-width: 991px) { 
	.left-brand > a img {
	  margin-right: 16px;
	  width: 50px;
	}
}
@media all and (min-width: 1200px) { 
	.left-brand > a img {
	  margin-right: 18px;
	  width: 65px;
	}
}
@media all  and (min-width: 767px) and (max-width: 991px) { 
 .first-lselect, .first-rselect {
  margin-left: 2%;
  padding: 15px 7px 11px;
  width: 48%;
}
 .sec-radio > label {
  width: 90%;
} 
.sec-radio > input {
  width: 8%;
} 
.content-right {
  padding: 0;
} 
}

@media all and (max-width: 767px) { 
	.content-right {
	  padding: 0;
	}
	.left-brand > a img {
	margin: 0 2%;
	width: 20%;
	}
}

@media all and (max-width: 680px) { 
.first-lselect, .first-rselect {
  margin-left: 3%;
  margin-top: 15px;
  padding: 15px 1px 11px;
  width: 47%;
}
.sec-radio > label {
  margin-right: 2%;
  width: 90%;
}
.sec-radio > input {
  width: 8%;
}
}

@media all and (max-width: 430px) { 
.first-lselect, .first-rselect {
	  float: none;
	  margin: 8px 10%;
	  overflow: hidden;
	  padding: 15px 0 11px;
	  width: 80%;
}
}