/**************************************
	 
		1. Header Area
		2. Content Area
		3. Left Sidebar
		4. First Offer
		5. Second Offer
		6. Third Offer
		8. Footer Area
	
*****************************************/

/* ******** Typrography ******** */

@font-face {
    font-family: "gotham-light";
    src: url("fonts/gothamrnd-light.woff") format("woff");
}
@font-face {
    font-family: "myriad";
    src: url("fonts/MYRIADPRO-REGULAR.woff") format("woff");
}
@font-face {
    font-family: "gotham-bold";
    src: url("fonts/gothamrnd-bold.woff") format("woff");
}
@font-face {
    font-family: "gotham-medium";
    src: url("fonts/gothamrnd-medium.woff") format("woff");
}
@font-face {
    font-family: "gotham-book";
    src: url("fonts/gothamrnd-book.woff") format("woff");
}
a:focus { 
	outline: 0 solid 
}
img {
    width: 100%;
    height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 13px;
    font-weight: 700;
}
html,
body { 
	height: 100% 
}
body {
	margin:0;
}
a {
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    -webkit-transition: 0.3s;
    transition: 0.3s!important;
    color: #333;
}
a:focus, a:hover{
	text-decoration:none
}
a:hover{
	color:#8B2824!important;
}
h3{
	font-size:22px;
}
.attention-text {
  padding: 0 20px 0 ;
}
/* Header Css Starts Here */

.header-btn a {
	background: #fff none repeat scroll 0 0;
	color: #000;
	font-family: "gotham-bold",sans-serif;
	font-size: 21px;
	padding: 6px 12px;
	transition: all 1s ease 0s;
}
.header-btn a:hover{
	color:#fff;
	background:#ddd;
}


/* Left Content Css Starts Here*/

.black-img img {
  height: 315px;
}
.books-sidebar p span {
    font-family: "gotham-book",sans-serif;
	font-size:16px;
}
.books-sidebar p {
    font-family: "gotham-light",sans-serif;
    font-weight: bold;
}
.books-sidebar h4 ,.green-left h4{
    font-family: "gotham-medium",sans-serif;
    margin: 0;
}
.books-sidebar {
    background: #f7eed1 none repeat scroll 0 0;
    padding: 20px 30px;
}
.books-sidebar ul {
    margin: 10px 0;
    padding: 0 15px;
}
.books-sidebar a {
    color: #020000;
    display: block;
    font-family: "gotham-light",sans-serif;
    font-size: 15px;
    font-weight: bold;
    padding: 6px 0;
}
.left-content {
	margin: 40px 0;
	overflow: hidden;
}
/* customer service */
.customer-service h3{
	font-family: "lato",helvetica,sans-serif;
	color:#000;
}
.customer-service > p span {
	font-size: 26px;
	font-family: "lato",helvetica,sans-serif;
	font-weight:bold;
	color:#000;
	display:block;
	margin-top:2px;
}
.customer-service > p ,.right-text > p,.first-offer > p,.first-select label,.second-offer input,.second-radio label,.sin-card input,.sin-card label,.single-card p{
	font-size: 16px;
	font-family: "gotham-light",sans-serif;
	font-weight:bold;
	color:#020000;
}
select {
	color: #828080;
	font-family: "gotham-light",sans-serif;
	font-size: 16px;
	font-weight: bold;
	padding: 8px 4px !important;
}
.customer-service > a {
	color: #1147e2;
	display: block;
	font-size: 16px;
	margin-top: -8px;
	text-decoration:underline;
	text-decoration-color:#d3d6e7;
}
.customer-service {
	padding: 20px 30px;
}
/* green-left */
.green-left {
	background: #027414 none repeat scroll 0 0;
	border-top: 1px solid #fff;
	color: #ffffff;
	padding: 20px 30px;
}
.green-left p {
	font-family: "gotham-medium",sans-serif;
	font-size: 13px;
	margin-top: 10px;
}
.left-brand {
	border-bottom: 2px solid #027314;
	margin: 14px 0 0;
	padding-bottom: 8px;
}


/* Right Content */

.card-choose {
	margin-bottom: 15px;
}
.content-right {
	margin:40px 0;
	overflow:hidden;
}
.content-right h3,.first-offer h3{
	color:#0c18b9;
	font-family: "lato",helvetica,sans-serif;
}
.span-bold{
	font-family: "gotham-book",sans-serif;
	font-size:17px;
}
.first-offer h3 ,.second-offer h3{
	color: #000;
}
.right-text > p {
	margin-bottom: 5px;
}
.black2-img > img {
	height: 280px;
}


/* attention-text */

.span-yes {
    color: #0e28ad;
    font-family: "lato",helvetica,sans-serif;
    font-size: 23px;
	font-weight:900;
}
.attention-text > p {
    color: #020000;
    font-family: "lato",helvetica,sans-serif;
    font-size: 20px;
}
.spans-bold {
	font-family: "gotham-book",sans-serif;
	font-size: 20px;
	font-weight: bold;
}
.attention-text > h4 {
	border-bottom: 2px solid;
	border-top: 2px solid;
	color: #0e28ad;
	font-size: 21px;
	margin: 45px 0 37px;
	padding: 3px 0;
	text-align: center;
	text-transform: uppercase;
}
.sec-order {
  margin: 61px 5% 90px !important;
}
/* First Offer Css Start Here*/

.content-right {
	padding: 0 0 0 60px;
}
.content-right > h3 {
	padding: 0 20px;
}
.first-offer,.right-text{
	padding: 10px 20px;
}
.first-lselect, .first-rselect {
	background: #f7eed1 none repeat scroll 0 0;
	float: left;
	margin-left: 7%;
	margin-top: 8px;
	padding: 15px 28px 11px;
	width: 35%;
}
.first-select h3{
	font-family: "gotham-book",sans-serif;
	margin:0;
}
.head-span {
	display: block;
	font-family: "lato",helvetica,sans-serif;
	font-size: 24px;
	margin: -5px 0 0;
}
.first-lselect > input, .first-rselect > input {
    float: left;
    width: 15%;
}
.first-lselect label, .first-rselect label {
	float: left;
	margin-left: 5%;
	width: 80%;
}
input[type="file"]:focus, input[type="checkbox"]:focus, input[type="radio"]:focus,select:focus{
	outline:0;
}


/* Second Offer Css Start Here*/

.second-offer {
	background: #f6f6f5 none repeat scroll 0 0;
	margin-top: 15px;
	padding: 20px 20px 28px;
}
.second-select > input, select{
	background: #f7eed1 none repeat scroll 0 0;
	border: 0 none;
	border-radius: 3px;
	box-sizing: border-box;
	margin: 4px 0;
	padding: 8px;
	width: 100%;
}
.sec-radio > input {
	float: left;
	text-align: right;
	width: 4%;
}
.sec-radio > label {
	float: left;
	width: 94%;
	margin-right:2%;
}
.second-radio {
	margin: 13px 0;
	overflow: hidden;
}
.second-offer > p a,.footer-text a{
	  color: #1147e2;
	  font-size: 14px;
	  text-decoration:underline;
	  text-decoration-color:#d3d6e7;
}
.second-offer > p {
	color: #020000;
	font-size: 13px;
	font-family: "gotham-book",sans-serif;
}
input[type="submit"]:hover {
	color:#0e28ad;
	border: 2px solid #0e28ad;
	background:#fff;
}
input[type="submit"] {
	background: #0e28ad none repeat scroll 0 0;
	border: 2px solid #000;
	border-radius: 3px;
	color: #fff;
	font-family: "lato",sans-serif;
	font-size: 31px;
	font-weight: bold;
	margin: 35px 5% 21px;
	padding: 2px 0;
	transition: all 1s ease 0s;
	width: 90%;
}
.second-offer.third-offer {
	margin-top: 10px;
}


/* Footer Css Start Here*/ 

.footer-p{
	color: #020000;
	font-size: 13px;
	font-family: "gotham-medium",sans-serif;
}
.footer-text p {
	margin: 0;
	font-size: 12px;
	font-family: "gotham-medium",sans-serif;
}
footer {
	text-align: center;
}

#owl-demo .item{
	width:100%;
	text-align:left;
}
#owl-demo .item img{
	display: block;
	width: 100%;
	height: 335px;
}
.owl-theme .owl-controls .owl-page.active span, .owl-theme .owl-controls.clickable .owl-page:hover span{opacity:0}
.owl-theme .owl-controls .owl-page span{opacity:0}