<!--@subject Your gift card at {{var store.getFrontendName()}} @-->
<!--@vars
{"htmlescape var=$name":"Recipient Name",
"htmlescape var=$sendername":"Sender name",
"var code":"Gift Card Code",
"var balance":"Gift Card Balance",
"var status":"Status",
"htmlescape var=$message":"Message",
"var expiredat":"Expired At"}
@-->

<!--@styles
body,td { color:#2f2f2f; font:13px/1.35em Verdana, Arial, Helvetica, sans-serif; }
@-->

<div style="font:13px/1.35em Verdana, Arial, Helvetica, sans-serif;">
    <table cellspacing="0" cellpadding="0" border="0" width="98%" style="margin-top:10px; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; margin-bottom:10px;">
        <tr>
            <td align="center" valign="top">
                <!-- [ header starts here] -->
                <table cellspacing="0" cellpadding="0" border="0" width="650">
                    <tr>
                        <td valign="top">
                            <a href="{{store url=""}}">
                                <img src="{{skin url="images/logo_email.gif" _area='frontend'}}" alt="{{var store.getFrontendName()}}"  style="margin-bottom:10px;" border="0"/>
                            </a>
                        </td>
                    </tr>
                </table>

                <!-- [ middle starts here] -->
                <table cellspacing="0" cellpadding="0" border="0" width="650">
                    <tr>
                        <td valign="top">
                            <p>
                                <strong>Dear {{htmlescape var=$sendername}}</strong>,<br/>
                                This email is to notify that you have successfully bought Gift Card(s) at {{var store.getFrontendName()}}.<br/>
                                You can use Gift Card(s) to purchase other products <a href="{{store url=""}}">here</a> or <a href="{{store url=""}}/giftvoucher/index/printemail/k/{{var secure_key}}">print now</a>.<br/>
                                
                            </p>							                            
                        </td>
                    </tr>
                    <tr>
                        <td style="padding: 15px 0px 15px 0px" align="center" width="600">
                            <img src="{{var url}}" height="365" style="margin-left: 15px; float: left;border-radius: 0 0 5px 5px;"/>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p>
                                If you have any questions on your Gift card, please feel free to contact us at <a href="mailto:{{config path='trans_email/ident_support/email'}}" style="color:#1E7EC8;">{{config path='trans_email/ident_support/email'}}</a> or by phone at {{config path='general/store_information/phone'}}.
                            </p>
                            <p>Yours sincerely,<br/><strong>{{var store.getFrontendName()}}</strong></p>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</div>
