body{ box-shadow: none !important;
margin-left:auto !important;
margin-right:auto !important;
padding:0 !important;
width:100% !important;
}
p {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 0px;
  font-size: 13px;
  line-height: 18px;
  text-align: left;
}

.email-pref-header {
  height: 100px;
  padding-top: 13px;
  border-top: 10px solid #f5883c;
  text-align: center;
}

.newsletter-row {
  margin-top: 25px;
  margin-bottom: 25px;
}

.submit-btn {
  display: block;
  width: 150px;
  margin-right: auto;
  margin-left: auto;
  background-color: #f5883c;
  text-transform: uppercase;
}