<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
	<ProxiBlue_DynCatProd>
        <version>3.4.5</version>
	    <depends>
		<Mage_Adminhtml/>
	    </depends>
	</ProxiBlue_DynCatProd>
    </modules>
    <global>
        <models>
            <dyncatprod>
                <class>ProxiBlue_DynCatProd_Model</class>
                <resourceModel>dyncatprod_resource</resourceModel>
            </dyncatprod>
            <dyncatprod_resource>
                <class>ProxiBlue_DynCatProd_Model_Resource</class>
                <entities>
                    <rebuild>
                        <table>dyncatprod_rebuild</table>
                    </rebuild>
                    <delaybuild>
                        <table>dyncatprod_delaybuild</table>
                    </delaybuild>
                </entities>
            </dyncatprod_resource>
        </models>
        <helpers>
            <dyncatprod>
                <class>ProxiBlue_DynCatProd_Helper</class>
            </dyncatprod>
        </helpers>
        <blocks>
            <dyncatprod>
                <class>ProxiBlue_DynCatProd_Block</class>
            </dyncatprod>
        </blocks>
        <resources>
            <proxiblue_dyncatprodv2_setup>
                <setup>
                    <module>ProxiBlue_DynCatProd</module>
                    <class>ProxiBlue_DynCatProd_Model_Resource_Setup</class>
                </setup>
            </proxiblue_dyncatprodv2_setup>
        </resources>
        <events>
            <catalog_product_save_after>
                <observers>
                    <dyncatprod_catalog_product_save_after>
                        <type>singleton</type>
                        <class>dyncatprod/adminhtml_observer</class>
                        <method>catalog_product_save_after</method>
                    </dyncatprod_catalog_product_save_after>
                </observers>
            </catalog_product_save_after>
            <catalog_category_save_after>
                <observers>
                    <dyncatprod_catalog_category_save_after>
                        <type>singleton</type>
                        <class>dyncatprod/adminhtml_observer</class>
                        <method>catalog_category_save_after</method>
                    </dyncatprod_catalog_category_save_after>
                </observers>
            </catalog_category_save_after>
        </events>
    </global>
    <frontend>
        <category>
            <collection>
                <attributes>
                    <dynamic_attributes/>
                </attributes>
            </collection>
        </category>
    </frontend>
    <adminhtml>
        <events>
            <catalog_category_prepare_save>
                <observers>
                    <dyncatprod_catalog_category_prepare_save>
                        <type>singleton</type>
                        <class>dyncatprod/adminhtml_observer</class>
                        <method>catalog_category_prepare_save</method>
                    </dyncatprod_catalog_category_prepare_save>
                </observers>
            </catalog_category_prepare_save>
            <adminhtml_catalog_category_tabs>
                <observers>
                    <dyncatprod_adminhtml_catalog_category_tabs>
                        <type>singleton</type>
                        <class>dyncatprod/adminhtml_observer</class>
                        <method>adminhtml_catalog_category_tabs</method>
                    </dyncatprod_adminhtml_catalog_category_tabs>
                </observers>
            </adminhtml_catalog_category_tabs>
        </events>
        <layout>
            <updates>
                <dyncatprod>
                    <file>dyncatprod.xml</file>
                </dyncatprod>
            </updates>
        </layout>
        <translate>
            <modules>
                <ProxiBlue_DynCatProd>
                    <files>
                        <default>ProxiBlue_DynCatProd.csv</default>
                    </files>
                </ProxiBlue_DynCatProd>
            </modules>
        </translate>
    </adminhtml>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <ProxiBlue_DynCatProd before="Mage_Adminhtml">ProxiBlue_DynCatProd</ProxiBlue_DynCatProd>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <crontab>
        <jobs>
            <rebuild_dynamic_gategories>
                <schedule>
                    <cron_expr>0 0 * * *</cron_expr>
                </schedule>
                <run>
                    <model>dyncatprod/cron::rebuildAllDynamic</model>
                </run>
            </rebuild_dynamic_gategories>
            <rebuild_changed_dynamic_attributes>
                <schedule>
                    <cron_expr>0/10 * * * *</cron_expr>
                </schedule>
                <run>
                    <model>dyncatprod/cron::rebuildChangedDynamic</model>
                </run>
            </rebuild_changed_dynamic_attributes>
            <rebuild_delayed_categories>
                <schedule>
                    <cron_expr>0/5 * * * *</cron_expr>
                </schedule>
                <run>
                    <model>dyncatprod/cron::rebuildDelayed</model>
                </run>
            </rebuild_delayed_categories>
        </jobs>
    </crontab>
    <default>
        <dyncatprod>
            <rebuild>
                <max_exec_time>3600</max_exec_time>
            </rebuild>
            <ept>
                <enabled>1</enabled>
                <image_size>120</image_size>
                <load_jquery>1</load_jquery>
            </ept>
        </dyncatprod>
    </default>
</config>
