<?xml version="1.0"?>
<config>
  <modules>
    <LinkstureDCCL_ApplyCoupon>
      <version>1.2</version>
    </LinkstureDCCL_ApplyCoupon>
  </modules>
  <default>
    <applycoupon_section>
      <applycoupon_group>                
        <active>1</active>
        <popup>1</popup>
        <success_message>Coupon code applied successfully, You can start adding products to cart.</success_message>
      </applycoupon_group>
    </applycoupon_section>
  </default>
  <global>
    <blocks>
      <applycoupon>
          <class>LinkstureDCCL_ApplyCoupon_Block</class> 
      </applycoupon>
    </blocks>
    <models>
      <applycoupon>
          <class>LinkstureDCCL_ApplyCoupon_Model</class>
          <resourceModel>applycoupon_mysql4</resourceModel>
      </applycoupon>
      <applycoupon_mysql4>
          <class>LinkstureDCCL_ApplyCoupon_Model_Mysql4</class>
          <entities>
              <applycoupon>
                 <table>ltpl_applycoupon</table>
              </applycoupon>
          </entities>
      </applycoupon_mysql4>
      </models> 
      <resources>  
      <applycoupon_setup>
          <setup>
              <module>LinkstureDCCL_ApplyCoupon</module>
          </setup>
          <connection>
              <use>core_setup</use>
          </connection>
      </applycoupon_setup>
      <applycoupon_write>
          <connection>
              <use>core_write</use>
          </connection>
      </applycoupon_write>
      <applycoupon_read>
          <connection>
              <use>core_read</use>
          </connection>
      </applycoupon_read>
    </resources> 
    <helpers>
      <applycoupon>
        <class>LinkstureDCCL_ApplyCoupon_Helper</class>
      </applycoupon>
    </helpers>
  </global>		
  <frontend>
    <events>
      <checkout_cart_product_add_after>
        <observers>
          <ApplyCoupon_apply>
            <type>singleton</type>
            <class>applycoupon/observer</class>
            <method>applyCouponEvent</method>
          </ApplyCoupon_apply>
        </observers>
      </checkout_cart_product_add_after>
    </events>
    <routers>
      <applycoupon>
        <use>standard</use>
        <args>
          <module>LinkstureDCCL_ApplyCoupon</module>
          <frontName>applycoupon</frontName>
        </args>
-      </applycoupon>
    </routers>
    <layout>
      <updates>
          <applycoupon>
               <file>applycoupon.xml</file>
           </applycoupon>
      </updates>
    </layout>
  </frontend>
  <adminhtml>
    <events>
      <salesrule_rule_save_after>
        <observers>
          <ApplyCoupon_apply>
            <type>singleton</type>
            <class>applycoupon/observer</class>
            <method>addCouponEvent</method>
          </ApplyCoupon_apply>
        </observers>
      </salesrule_rule_save_after>
      <salesrule_rule_delete_after>
        <observers>
          <ApplyCoupon_apply>
            <type>singleton</type>
            <class>applycoupon/observer</class>
            <method>deleteCouponEvent</method>
          </ApplyCoupon_apply>
        </observers>
      </salesrule_rule_delete_after>
    </events>
    <layout>
      <updates>
          <applycoupon>
             <file>applycoupon.xml</file>
          </applycoupon>
      </updates>
    </layout>
    <menu>
      <applycoupon module="applycoupon">
        <title>Discount Code Links</title>
        <sort_order>75</sort_order>
        <children>
            <applycoupon module="applycoupon">
                <title>Discount Coupon Code Links</title>
                <sort_order>1</sort_order>
                <action>adminhtml/applycoupon</action>
            </applycoupon>
            <applycouponsetting module="applycoupon">
                <title>Configuration</title>
                <sort_order>2</sort_order>
                <action>adminhtml/system_config/edit/section/applycoupon_section</action>
            </applycouponsetting>
        </children>
      </applycoupon>
    </menu>
    <acl>
      <resources>
        <all>
            <title>Allow Everything</title>
        </all>
          <admin>
              <children>
                  <applycoupon translate="title" module="applycoupon">
                      <title>Discount Code Links</title>
                      <sort_order>75</sort_order>
                      <children>
                          <!-- child items go here -->
                          <applycoupon translate="title" module="applycoupon">
                              <title>Discount Coupon Code Links</title>
                              <sort_order>1</sort_order>
                              <action>adminhtml/applycoupon</action>
                          </applycoupon>
                          <applycouponsetting module="applycoupon">
                              <title>Configuration</title>
                              <sort_order>2</sort_order>
                          </applycouponsetting>
                      </children>
                  </applycoupon>
              </children>
          </admin>
           <admin>
                <children>
                    <system>
                        <children>
                            <config>
                                <children>
                                    <applycoupon_section translate="title" module="applycoupon">
                                        <title>Apply Coupon</title>
                                        <sort_order>0</sort_order>
                                    </applycoupon_section>
                                </children>
                            </config>
                        </children>
                    </system>
                </children>
            </admin>
      </resources>
    </acl>
  </adminhtml>
<admin>
    <routers>
        <adminhtml>
            <args>
                <modules>
                    <applycoupon after="Mage_Adminhtml">LinkstureDCCL_ApplyCoupon_Adminhtml</applycoupon>
                </modules>
            </args>
        </adminhtml>
    </routers>
</admin>
</config>
