<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">        
                <resource id="Infortis_Infortis::admin">
                    <resource id="Infortis_Base::themes">
                        <!-- <resource id="Infortis_Ultimo::theme" sortOrder="20" title="Ultimo">
                            <resource id="Infortis_Ultimo::ultimo_theme_config" sortOrder="10" title="Ultimo Configuration"/>
                        </resource> -->
                    </resource>
                </resource>
            </resource>
        </resources>
    </acl>
</config>