<?xml version="1.0"?>
<config>
  <modules>
    <Icube_Flagorder>
      <version>0.1.0</version>
    </Icube_Flagorder>
  </modules>
  <global>
    <helpers>
      <flagorder>
        <class>Icube_Flagorder_Helper</class>
      </flagorder>
    </helpers>
  	<models>
  	  <flagorder>
  		<class>Icube_Flagorder_Model</class>
  		<resourceModel>flagorder_mysql4</resourceModel>
  	  </flagorder>
  	</models>
    <events>
	    <sales_order_place_after> 
        <observers>
          <flag_natural_partners_po_orders>
            <type>singleton</type>
            <class>flagorder/observer</class>
            <method>flagNpPoOrders</method>
          </flag_natural_partners_po_orders>
        </observers>
      </sales_order_place_after>
    </events>
    <template>
      <email>
        <np_order_email>
          <label>NP Order Notification</label>
          <file>np_order_email.html</file>
          <type>html</type>
        </np_order_email>
      </email>
    </template>
  </global>
</config> 