<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Catalog\Model\Category\DataProvider">
        <plugin name="infortis_ultramegamenu_magento_catalog_model_category_dataprovider" type="Infortis\UltraMegamenu\Plugin\Magento\Catalog\Model\Category\DataProvider"/>
    </type>
</config>
