<?xml version="1.0"?>
<config>
    <modules>
        <EM_Newproducts>
            <version>0.1.0</version>
        </EM_Newproducts>
    </modules>
    <frontend>
        <routers>
            <newproducts>
                <use>standard</use>
                <args>
                    <module>EM_Newproducts</module>
                    <frontName>newproducts</frontName>
                </args>
            </newproducts>
        </routers>
        <layout>
            <updates>
                <newproducts>
                    <file>newproducts.xml</file>
                </newproducts>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<newproducts>
				<use>admin</use>
				<args>
					<module>EM_Newproducts</module>
					<frontName>newproducts</frontName>
				</args>
			</newproducts>
        </routers>
    </admin>
    
    <global>
        <models>
            <newproducts>
                <class>EM_Newproducts_Model</class>
                <resourceModel>newproducts_mysql4</resourceModel>
            </newproducts>
            <newproducts_mysql4>
                <class>EM_Newproducts_Model_Mysql4</class>
                <entities>
                    <newproducts>
                        <table>newproducts</table>
                    </newproducts>
                </entities>
            </newproducts_mysql4>
        </models>
        <resources>
            <newproducts_setup>
                <setup>
                    <module>EM_Newproducts</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </newproducts_setup>
            <newproducts_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </newproducts_write>
            <newproducts_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </newproducts_read>
        </resources>
        <blocks>
            <newproducts>
                <class>EM_Newproducts_Block</class>
            </newproducts>
        </blocks>
        <helpers>
            <newproducts>
                <class>EM_Newproducts_Helper</class>
            </newproducts>
        </helpers>
    </global>
</config>