<?xml version="1.0"?>
<config>
    <modules>
        <EM_Bestsellerproducts>
            <version>0.1.0</version>
        </EM_Bestsellerproducts>
    </modules>
    <frontend>
        <routers>
            <bestsellerproducts>
                <use>standard</use>
                <args>
                    <module>EM_Bestsellerproducts</module>
                    <frontName>bestsellerproducts</frontName>
                </args>
            </bestsellerproducts>
        </routers>
        <layout>
            <updates>
                <bestsellerproducts>
                    <file>bestsellerproducts.xml</file>
                </bestsellerproducts>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<bestsellerproducts>
				<use>admin</use>
				<args>
					<module>EM_Bestsellerproducts</module>
					<frontName>bestsellerproducts</frontName>
				</args>
			</bestsellerproducts>
        </routers>
    </admin>
   
    <global>
        <models>
            <bestsellerproducts>
                <class>EM_Bestsellerproducts_Model</class>
                <resourceModel>bestsellerproducts_mysql4</resourceModel>
            </bestsellerproducts>
            <bestsellerproducts_mysql4>
                <class>EM_Bestsellerproducts_Model_Mysql4</class>
                <entities>
                    <bestsellerproducts>
                        <table>bestsellerproducts</table>
                    </bestsellerproducts>
                </entities>
            </bestsellerproducts_mysql4>
        </models>
        <resources>
            <bestsellerproducts_setup>
                <setup>
                    <module>EM_Bestsellerproducts</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </bestsellerproducts_setup>
            <bestsellerproducts_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </bestsellerproducts_write>
            <bestsellerproducts_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </bestsellerproducts_read>
        </resources>
        <blocks>
            <bestsellerproducts>
                <class>EM_Bestsellerproducts_Block</class>
            </bestsellerproducts>
        </blocks>
        <helpers>
            <bestsellerproducts>
                <class>EM_Bestsellerproducts_Helper</class>
            </bestsellerproducts>
        </helpers>
    </global>
</config>