<?xml version="1.0"?>
<config>
    <modules>
        <EM_Recentreviewproducts>
            <version>0.1.0</version>
        </EM_Recentreviewproducts>
    </modules>
    <frontend>
        <routers>
            <recentreviewproducts>
                <use>standard</use>
                <args>
                    <module>EM_Recentreviewproducts</module>
                    <frontName>recentreviewproducts</frontName>
                </args>
            </recentreviewproducts>
        </routers>
        <layout>
            <updates>
                <recentreviewproducts>
                    <file>recentreviewproducts.xml</file>
                </recentreviewproducts>
            </updates>
        </layout>
    </frontend>
	<!--
    <admin>
        <routers>
			<recentreviewproducts>
				<use>admin</use>
				<args>
					<module>EM_Recentreviewproducts</module>
					<frontName>recentreviewproducts</frontName>
				</args>
			</recentreviewproducts>
        </routers>
    </admin>
    <adminhtml>
		<menu>
			<recentreviewproducts module="recentreviewproducts">
				<title>Recentreviewproducts</title>
				<sort_order>71</sort_order>               
				<children>
					<items module="recentreviewproducts">
						<title>Manage Items</title>
						<sort_order>0</sort_order>
						<action>recentreviewproducts/adminhtml_recentreviewproducts</action>
					</items>
				</children>
			</recentreviewproducts>
		</menu>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<EM_Recentreviewproducts>
							<title>Recentreviewproducts Module</title>
							<sort_order>10</sort_order>
						</EM_Recentreviewproducts>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<recentreviewproducts>
					<file>recentreviewproducts.xml</file>
				</recentreviewproducts>
			</updates>
		</layout>
    </adminhtml>   
	-->
    <global>
        <models>
            <recentreviewproducts>
                <class>EM_Recentreviewproducts_Model</class>
                <resourceModel>recentreviewproducts_mysql4</resourceModel>
            </recentreviewproducts>
            <recentreviewproducts_mysql4>
                <class>EM_Recentreviewproducts_Model_Mysql4</class>
                <entities>
                    <recentreviewproducts>
                        <table>recentreviewproducts</table>
                    </recentreviewproducts>
                </entities>
            </recentreviewproducts_mysql4>
        </models>
        <resources>
            <recentreviewproducts_setup>
                <setup>
                    <module>EM_Recentreviewproducts</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </recentreviewproducts_setup>
            <recentreviewproducts_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </recentreviewproducts_write>
            <recentreviewproducts_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </recentreviewproducts_read>
        </resources>
        <blocks>
            <recentreviewproducts>
                <class>EM_Recentreviewproducts_Block</class>
            </recentreviewproducts>
        </blocks>
        <helpers>
            <recentreviewproducts>
                <class>EM_Recentreviewproducts_Helper</class>
            </recentreviewproducts>
        </helpers>
    </global>
</config>