<?xml version="1.0"?>
<config>
    <modules>
        <Boardroom_CustomCheckout>
            <version>0.0.3</version>
        </Boardroom_CustomCheckout>
    </modules>
    <frontend>
        <routers>
            <checkout>
                <use>standard</use>
                <args>
                    <modules>
                        <Boardroom_CustomCheckout before="Mage_Checkout">Boardroom_CustomCheckout</Boardroom_CustomCheckout>
                    </modules>
                </args>
            </checkout>
        </routers>
        <layout>
            <updates>
                <boardroom_customcheckout>
                    <file>boardroom_customcheckout.xml</file>
                </boardroom_customcheckout>
            </updates>
        </layout>
    </frontend>
    <global>
        <blocks>
            <checkout>
                <rewrite>
                    <onepage>Boardroom_CustomCheckout_Block_Onepage</onepage>
                </rewrite>
            </checkout>
        </blocks>
        <resources>
            <boardroom_customcheckout_setup>
                <setup>
                    <module>Boardroom_CustomCheckout</module>
                    <class>Mage_Catalog_Model_Resource_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </boardroom_customcheckout_setup>
            <boardroom_customcheckout_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </boardroom_customcheckout_write>
            <boardroom_customcheckout_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </boardroom_customcheckout_read>
        </resources>
        <events>
            <sales_order_save_after>
                <observers>
                    <boardroom_customcheckout>
                        <type>singleton</type>
                        <class>Boardroom_CustomCheckout_Model_Observer</class>
                        <method>checkForPCD</method>
                    </boardroom_customcheckout>
                </observers>
            </sales_order_save_after>
        </events>
    </global>
</config>
