.morecontent span {
    display: none;
}
.morelink {
    display: block;
	color:#FFFFFF !important;
	text-decoration:none !important;
	font-weight:bold !important;
	text-transform:uppercase !important;
}


body {
  background-color: #edeff2;
  font-family:'Open Sans', sans-serif;
  color: #6a859c;
  font-size: 16px;
  line-height: 20px;
}
h1 {
  margin-top: 0px;
  margin-bottom: 10px;
  font-size: 38px;
  line-height: 44px;
  font-weight: 700;
}
h2 {
  margin-top: 0px;
  margin-bottom: 10px;
  color: #676770;
  font-size: 32px;
  line-height: 36px;
  font-weight: 300;
  text-align: center;
}
h3 {
  margin-top: 0px;
  margin-bottom: 0px;
  color: #676770;
  font-size: 20px;
  line-height: 30px;
  font-weight: 300;
  letter-spacing: 0px;
  text-transform: uppercase;
}
h4 {
  margin-top: 0px;
  margin-bottom: 10px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}
h5 {
  margin-top: 0px;
  margin-bottom: 20px;
  color: #676770;
  font-size: 18px;
  line-height: 20px;
  font-weight: 300;
  letter-spacing: 4px;
  text-transform: uppercase;
}
h6 {
  margin-top: 0px;
  margin-bottom: 10px;
  font-size: 12px;
  line-height: 18px;
  font-weight: 700;
}
p {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 25px;
  font-weight: 300;
}
.button {
  display: inline-block;
  margin-right: 5px;
  margin-left: 5px;
  padding: 15px 25px;
  border-radius: 0px;
  background-color: #e2a015;
  -webkit-transition: background-color 300ms ease;
  transition: background-color 300ms ease;
  font-family: Roboto, sans-serif;
  color: white;
  font-size: 16px;
  line-height: 21px;
  font-weight: 500;
  text-align: center;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
}
.button:hover {
  background-color: #2e9dff;
}
.button.w--current {
  background-color: #2e80b6;
}
.button.full-width {
  display: block;
  width: 100%;
  margin-right: 0px;
  margin-left: 0px;
}
.button.tab {
  margin-right: 8px;
  margin-left: 8px;
  background-color: #92a0ad;
}
.button.tab:hover {
  background-color: #2e80b6;
}
.button.tab.w--current {
  background-color: #2e80b6;
}
.navigation-link {
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  color: #676770;
}
.navigation-link:hover {
  color: #2e9dff;
}
.navigation-bar {
  background-color: white;
}
.brand-text {
  margin-top: 0px;
  margin-bottom: 0px;
  font-family:'Open Sans', sans-serif;
  color: #69b9ff;
  font-size: 25px;
  line-height: 25px;
  font-weight: 300;
  letter-spacing: 4px;
  text-transform: uppercase;
}
.brand-link {
  padding-top: 16px;
  padding-bottom: 16px;
}
.section {
  position: static;
  left: 2px;
  right: -2px;
  padding: 74px 10px 80px;
  border: 1px none #74bcb8;
  background-color: white;
  text-align: center;
}
.section.accent {
  padding-top: 50px;
  padding-bottom: 29px;
  border-style: none;
  background-color: #09645f;
  background-image: -webkit-radial-gradient(50% 50%, circle, #09645f 34%, transparent), url('/skin/frontend/rwd/eclipse/images/landing-pages/germs/header-bg.jpg');
  background-image: radial-gradient(circle at 50% 50%, #09645f 34%, transparent), url('/skin/frontend/rwd/eclipse/images/landing-pages/germs/header-bg.jpg');
  background-position: 0px 0px, 0px 0px;
  background-size: auto, cover;
  background-repeat: repeat, no-repeat;
}
.white-box {
  display: block;
  margin-bottom: 20px;
  padding: 15px;
  border: 1px solid #dcebf7;
  border-radius: 5px;
  background-color: #edeff2;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
}
.white-box.transparent {
  border-style: none;
  background-color: transparent;
}
.hero-section {
  padding-top: 242px;
  padding-bottom: 242px;
}
.hero-section.centered {
  position: relative;
  padding-top: 100px;
  padding-bottom: 100px;
  border: 2px none #09645f;
  background-color: transparent;
  background-image: -webkit-linear-gradient(#09645f, transparent 56%), url('/skin/frontend/rwd/eclipse/images/landing-pages/germs/header-bg.jpg');
  background-image: linear-gradient(#09645f, transparent 56%), url('/skin/frontend/rwd/eclipse/images/landing-pages/germs/header-bg.jpg');
  background-position: 0px 0px, 0px 0px;
  background-size: auto, cover;
  background-repeat: repeat, no-repeat;
  background-attachment: scroll, scroll;
  color: white;
  text-align: center;
}
.hero-heading {
  margin-bottom: 15px;
  font-family: Merriweather, serif;
  color: white;
  font-size: 50px;
  line-height: 51px;
  font-weight: 300;
  letter-spacing: 4px;
  text-transform: uppercase;
}
.hero-subheading {
  margin-bottom: 58px;
  font-family: Roboto, sans-serif;
  color: white;
  font-size: 18px;
  line-height: 2px;
  font-weight: 300;
  letter-spacing: 3px;
  text-transform: uppercase;
}
.hollow-button {
  display: inline-block;
  margin-right: 10px;
  margin-left: 10px;
  padding: 10px 30px;
  border: 1px solid white;
  border-radius: 4px;
  -webkit-transition: background-color 300ms ease, border 300ms ease, color 300ms ease;
  transition: background-color 300ms ease, border 300ms ease, color 300ms ease;
  color: white;
  line-height: 21px;
  font-weight: 300;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
}
.hollow-button:hover {
  border-color: #2e9dff;
  color: #2e9dff;
}
.hollow-button.all-caps {
  display: inline-block;
  margin: 0px 5px;
  padding: 15px 51px;
  border: 1px none white;
  border-radius: 0px;
  background-color: #e2a015;
  font-family: Roboto, sans-serif;
  font-weight: 500;
  text-align: center;
  text-transform: uppercase;
}
.hollow-button.all-caps.w--current {
  margin-right: auto;
  margin-bottom: 0px;
  margin-left: auto;
}
.section-heading {
  margin-top: 0px;
  margin-bottom: 16px;
}
.section-heading.centered {
  color: #676770;
  font-size: 30px;
  font-weight: 300;
  text-align: center;
  letter-spacing: 5px;
  text-transform: uppercase;
}
.section-heading.centered.white {
  margin-top: 0px;
  margin-bottom: -54px;
  font-family: Merriweather, serif;
  color: white;
  font-size: 26px;
}
.section-subheading.center {
  font-family: Roboto, sans-serif;
  color: black;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  letter-spacing: 3px;
  text-transform: uppercase;
}
.section-subheading.center.off-white {
  padding-bottom: 0px;
  color: #e8e8e8;
}
.section-title-group {
  margin-bottom: 60px;
}
.form-field {
  height: 45px;
  margin-bottom: 17px;
  border: 0px solid black;
  border-radius: 3px;
  box-shadow: rgba(64, 64, 71, 0.29) 0px 0px 0px 1px;
}
.form-field.text-area {
  height: 110px;
}
.footer {
  padding-top: 35px;
  padding-bottom: 35px;
}
.footer.center {
  border-top: 1px solid #dbdbdb;
  background-color: #383838;
  text-align: center;
}
.footer-text {
  margin-top: 5px;
  margin-bottom: 5px;
  color: #9e9e9e;
  font-size: 16px;
}
.grid-image {
  position: relative;
  display: block;
  width: 85%;
  margin: 0px auto 23px;
  padding: 5px;
  border: 2px solid #74bcb8;
  border-radius: 50%;
  background-color: transparent;
  opacity: 1;
  font-size: 15px;
  text-align: center;
  list-style-type: none;
}
.info-icon {
  float: left;
}
.footer-link {
  display: block;
  margin-bottom: 6px;
  padding-bottom: 10px;
  border-bottom: 1px solid #d5d5e0;
  color: #668cad;
  font-size: 14px;
  font-weight: 300;
  text-decoration: none;
}
.footer-link:hover {
  color: rgba(0, 140, 255, 0.84);
}
.footer-link.with-icon {
  margin-left: 30px;
}
.tab-menu {
  margin-bottom: 40px;
  text-align: center;
}
.tabs-wrapper {
  text-align: center;
}
.fullwidth-image {
  width: 100%;
  margin-bottom: 20px;
}
.white-text {
  margin-bottom: 20px;
  color: white;
}
.form {
  margin-top: 40px;
}
.free-issue-container {
  position: static;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  padding-bottom: 0px;
  background-color: white;
  text-align: center;
}
.text-subscribe {
  margin-top: 0px;
  margin-bottom: 12px;
  color: white;
  text-align: left;
}
.read-more-btn {
  display: inline-block;
  margin: 0px 5px 0px 0px;
  padding: 15px 25px;
  float: none;
  border-radius: 0px;
  background-color: white;
  color: #09645f;
  text-align: center;
  list-style-type: none;
}
.header-video {
  position: relative;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  display: inline-block;
  overflow-x: visible;
  overflow-y: visible;
  min-height: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
.video-header {
  position: relative;
  overflow-x: visible;
  overflow-y: visible;
  width: 700px;
  height: 300px;
  clear: none;
  list-style-type: none;
}
.video-div {
  margin: 0px 0px 44px;
  padding: 0px;
}
.free-link {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 0px;
  color: white;
  text-align: left;
  text-decoration: none;
}
.free-image {
  margin-bottom: 8px;
}
.paragraph-subscribe {
  margin-top: 5px;
  margin-right: 140px;
  margin-left: 140px;
  font-family: Roboto, sans-serif;
  color: white;
  font-weight: 300;
}
.solution-text {
  position: absolute;
  left: 36px;
  top: 15px;
  right: 0px;
  overflow-x: visible;
  overflow-y: visible;
  width: 228px;
  height: 229px;
  margin: 0px;
  padding: 30px 29px 29px;
  border: 1px solid black;
  border-radius: 125px;
  background-color: #09645f;
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  color: white;
  font-size: 13px;
}
.slution-headline {
  margin-bottom: 0px;
  padding-bottom: 0px;
  font-family: Merriweather, serif;
  font-size: 18px;
  line-height: 30px;
  text-decoration: none;
  list-style-type: none;
}
.free-issue-heading {
  border: 1px none black;
  font-family: Merriweather, serif;
  color: #676770;
  font-size: 30px;
  text-align: center;
}
.subscribe-btn {
  margin-left: 5px;
  padding: 15px 51px;
  border-radius: 0px;
  background-color: white;
  font-family: Roboto, sans-serif;
  color: #09645f;
}
.solution {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  display: block;
  overflow-x: visible;
  overflow-y: visible;
  width: 77%;
  margin: 15px auto 0px;
  padding: 5px;
  border: 0px solid #74bcb8;
  border-radius: 180px;
  line-height: 17px;
}
.germs-p {
  font-family: Roboto, sans-serif;
}
.germs-p.resize1 {
  margin-bottom: 35px;
}
.germs-p.resize2 {
  margin-bottom: 83px;
}
.germs-p.resize3 {
  margin-bottom: 53px;
}
.germs-headline {
  font-family: Roboto, sans-serif;
  font-weight: 700;
}
.free-section {
  margin-top: -32px;
  padding-bottom: 80px;
  background-color: white;
  text-align: center;
}
.germs-container {
  padding-bottom: 36px;
  border-style: solid;
  border-width: 0px 0px 1px;
  border-color: black;
}
.paragraph-more {
	margin-left:140px;
	margin-right:140px;
  font-family: Roboto, sans-serif;
  color: white;
}
html.w-mod-js *[data-ix="fade-in-bottom-page-loads"] {
  opacity: 0;
  -webkit-transform: translate(0px, 50px);
  -ms-transform: translate(0px, 50px);
  transform: translate(0px, 50px);
}
html.w-mod-js *[data-ix="fade-in-left-scroll-in"] {
  opacity: 0;
  -webkit-transform: translate(-50px, 0px);
  -ms-transform: translate(-50px, 0px);
  transform: translate(-50px, 0px);
}
html.w-mod-js *[data-ix="fade-in-right-scroll-in"] {
  opacity: 0;
  -webkit-transform: translate(50px, 0px);
  -ms-transform: translate(50px, 0px);
  transform: translate(50px, 0px);
}
html.w-mod-js *[data-ix="fade-in-top-scroll-in"] {
  opacity: 0;
  -webkit-transform: translate(0px, -50px);
  -ms-transform: translate(0px, -50px);
  transform: translate(0px, -50px);
}
html.w-mod-js *[data-ix="fade-in-bottom-scroll-in"] {
  opacity: 0;
  -webkit-transform: translate(0px, 50px);
  -ms-transform: translate(0px, 50px);
  transform: translate(0px, 50px);
}
html.w-mod-js *[data-ix="bounce-in-scroll-in"] {
  opacity: 0;
  -webkit-transform: scale(0.6000000000000001);
  -ms-transform: scale(0.6000000000000001);
  transform: scale(0.6000000000000001);
}
html.w-mod-js *[data-ix="scale-on-scroll"] {
  opacity: 0;
  -webkit-transform: scale(0.01);
  -ms-transform: scale(0.01);
  transform: scale(0.01);
}
html.w-mod-js *[data-ix="hover-effect"] {
  opacity: 1;
}
@media (max-width: 991px) {
  .navigation-link {
    color: rgba(255, 255, 255, 0.52);
  }
  .navigation-link.w--current {
    color: white;
  }
  .hamburger-button.w--open {
    background-color: #3b99d9;
  }
  .navigation-menu {
    background-color: #3b99d9;
  }
  .hero-section.centered {
    padding-top: 58px;
    padding-bottom: 53px;
  }
  .hero-heading {
    margin-bottom: 6px;
    font-size: 36px;
    line-height: 47px;
  }
  .hero-subheading {
    font-size: 21px;
    line-height: 21px;
  }
  .hollow-button.all-caps {
    margin-bottom: 15px;
  }
  .grid-image {
    width: 60%;
    padding: 4px;
  }
  .solution-text {
    left: 64px;
    top: 15px;
    right: 0px;
    width: 119px;
    height: 119px;
    max-width: 119px;
    margin-right: 0px;
    margin-left: -10px;
    padding: 17px 7px 7px 8px;
    font-size: 9px;
    line-height: 9px;
  }
  .slution-headline {
    font-size: 11px;
    line-height: 15px;
  }
  .solution {
    width: 52%;
  }
  .germs-p.resize2 {
    margin-bottom: 136px;
  }
  .germs-p.resize3 {
    margin-bottom: 51px;
  }
}
@media (max-width: 767px) {
  .button {
    margin-bottom: 9px;
    font-size: 12px;
  }
  .button.full-width {
    margin-right: auto;
    margin-left: auto;
  }
  .button.tab {
    font-size: 12px;
  }
  .section {
    padding-top: 35px;
    padding-bottom: 5px;
  }
  .section.accent {
    padding-top: 44px;
  }
  .white-box {
    margin-bottom: 30px;
  }
  .hero-section.centered {
    padding-top: 49px;
    padding-bottom: 57px;
  }
  .hero-heading {
    margin-bottom: 5px;
    font-size: 31px;
    line-height: 39px;
  }
  .hero-subheading {
    margin-bottom: 14px;
    font-size: 18px;
    line-height: 18px;
  }
  .hollow-button.all-caps {
    font-size: 12px;
  }
  .section-heading.centered.white {
    font-size: 28px;
  }
  .form-field.text-area {
    display: block;
  }
  .grid-image {
    width: 40%;
    padding: 4px;
  }
  .spc {
    margin-bottom: 30px;
  }
  .read-more-btn {
    margin-left: -7px;
    padding-right: 25px;
    text-align: left;
  }
  .free-image {
    position: static;
    left: 0px;
    top: 0px;
    bottom: 0px;
    overflow-x: visible;
    overflow-y: visible;
    padding-right: 0px;
    padding-left: 17px;
    clear: none;
  }
  .free-issue-col {
    margin-bottom: 25px;
    text-align: center;
  }
  .solution-text {
    left: 182px;
    top: 13px;
    width: 202px;
    height: 202px;
    max-width: 202px;
    margin-left: -22px;
    padding: 27px;
    font-size: 12px;
    line-height: 18px;
  }
  .slution-headline {
    font-size: 14px;
    line-height: 21px;
  }
  .solution {
    width: 38%;
  }
  .germs-p {
    margin-bottom: 0px;
  }
  .germs-p.resize1 {
    margin-bottom: 0px;
  }
  .germs-p.resize2 {
    margin-bottom: 0px;
  }
  .germs-p.resize3 {
    margin-bottom: 0px;
  }
}
@media (max-width: 479px) {
  .button {
    margin: 0px 0px 15px;
    padding-right: 10px;
    padding-left: 10px;
    font-size: 12px;
  }
  .button.w--current {
    margin-bottom: 8px;
  }
  .section.accent {
    padding-top: 30px;
  }
  .hero-section.centered {
    padding-top: 22px;
    padding-bottom: 0px;
  }
  .hero-heading {
    margin-bottom: 1px;
    padding: 0px;
    font-size: 16px;
    line-height: 34px;
  }
  .hero-subheading {
    margin-bottom: 11px;
    font-size: 13px;
    line-height: 20px;
  }
  .hollow-button.all-caps {
    margin-bottom: 8px;
    padding-right: 10px;
    padding-left: 10px;
    float: none;
    clear: none;
    font-size: 12px;
  }
  .section-heading.centered.white {
    margin-bottom: 0px;
    padding-right: 8px;
    padding-left: 8px;
    font-size: 21px;
  }
  .section-subheading.center {
    line-height: 30px;
  }
  .grid-image {
    width: 45%;
    padding: 2px;
  }
  .video-div {
    padding-right: 20px;
    padding-left: 20px;
  }
  .solution-text {
    left: 97px;
    top: 16px;
    right: 0px;
    width: 126px;
    height: 126px;
    max-width: 126px;
    padding: 21px;
    font-size: 9px;
    line-height: 13px;
  }
  .solution {
    width: 40%;
  }
}

