<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../../lib/internal/Magento/Framework/App/etc/routes.xsd">
    <router id="standard">
    	<!-- Note: if modified, front name and id must be also modified in plugin file -->
        <route id="cgen" frontName="asset">
            <module name="Infortis_Cgen"/>
        </route>
    </router>
</config>
