.mini-search { position:absolute; top:0; right:0; width:300px; height:30px; padding:1px 20px 0 40px; background:url(../images/mini_search_bg.gif) 0 0 no-repeat; }
.mini-search .input-text { width:212px !important; margin-right:4px !important; }
.search-autocomplete { z-index:9999 !important;background-color:#FFFFFF !important;color:#333 !important; }
.search-autocomplete ul { background-color:#fff !important;border:none !important;}
.search-autocomplete li { padding:6px 8px 6px 8px !important; cursor:pointer !important; font-weight:normal !important; line-height:17px; font-size:12px; border-bottom:none !important; min-height:56px !important; }
.search-autocomplete li .amount { float:right !important; font-weight:bold !important; }
.search-autocomplete li.odd { background-color:#fff !important; }
.search-autocomplete li.selected { background-color:#D8EAFB !important; }
#search_autocomplete img { float:left !important; border:1px solid #DDDDDD !important;  margin-right:10px !important; padding:2px !important; background-color:#fff !important; }
.magik_head{
background-color:#F2F2F2;
border-bottom:medium none;
min-height:10px;
padding:2px 15px 2px 6px;
text-align:left;
}
.magik_link{
background-color:#F2F2F2;
border-bottom:medium none;
min-height:10px;
padding:2px 15px 2px 6px;
text-align:center;
font-weight:bold;
}
#search_autocomplete a{text-decoration:none;}
.magikautosearchImg{margin-left: 535px; position: absolute; margin-top: 9px;}
