<?xml version="1.0"?>
<config>
    <modules>
        <Boardroom_Newsletter>
            <version>0.0.1</version>
        </Boardroom_Newsletter>
    </modules>
    <global>
        <helpers>
            <boardroom_newsletter>
                <class>Boardroom_Newsletter_Helper</class>
            </boardroom_newsletter>
        </helpers>
        <blocks>
            <boardroom_newsletter>
                <class>Boardroom_Newsletter_Block</class>
            </boardroom_newsletter>
        </blocks>
        <models>
            <boardroom_newsletter>
                <class>Boardroom_Newsletter_Model</class>
                <resourceModel>boardroom_newsletter_mysql4</resourceModel>
            </boardroom_newsletter>
            <boardroom_newsletter_mysql4>
                <class>Boardroom_Newsletter_Model_Mysql4</class>
                <entities>
                    <simple>
                        <table>boardroom_newsletter_example_simple</table>
                    </simple>
                </entities>
            </boardroom_newsletter_mysql4>
        </models>
        <resources>
            <boardroom_newsletter_setup>
                <setup>
                    <module>Boardroom_Newsletter</module>
                    <class>Mage_Customer_Model_Entity_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </boardroom_newsletter_setup>
            <boardroom_newsletter_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </boardroom_newsletter_write>
            <boardroom_newsletter_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </boardroom_newsletter_read>
        </resources>
        <events>
            <controller_action_postdispatch_customer_account_createPost>
                <observers>
                    <boardroom_newsletter>
                        <type>singleton</type>
                        <class>Boardroom_Newsletter_Model_Observer</class>
                        <method>updateSendMarketingParam</method>
                    </boardroom_newsletter>
                </observers>
            </controller_action_postdispatch_customer_account_createPost>
            <customer_save_before>
                <observers>
                    <boardroom_newsletter>
                        <type>singleton</type>
                        <class>Boardroom_Newsletter_Model_Observer</class>
                        <method>updateSendMarketingPost</method>
                    </boardroom_newsletter>
                </observers>
            </customer_save_before>
        </events>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <boardroom_newsletter before="Mage_Adminhtml">Boardroom_Newsletter_Adminhtml</boardroom_newsletter>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
</config>
