<?xml version="1.0"?>
 <config>
  <modules>
   <Blp_ContactForm>
    <version>0.1.0</version>
   </Blp_ContactForm>
  </modules>
  <frontend>
   <routers>
    <contactform>
     <use>standard</use>
     <args>
      <module>Blp_ContactForm</module>
      <frontName>contact-us</frontName>
     </args>
    </contactform>
   </routers>
  </frontend> 
 </config>