<?xml version="1.0"?>
<!--
/**
* Copyright 2016 aheadWorks. All rights reserved.
* See LICENSE.txt for license details.
*/
-->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="layout_load_before">
        <observer name="aw_ajaxcartpro_layout_load_before" instance="Aheadworks\Ajaxcartpro\Observer\AddSwatchesLayoutUpdate"/>
    </event>
</config>
