<?xml version="1.0"?>
<config>
  <modules>
    <Magik_Automaticscroll>
      <version>0.1.0</version>
    </Magik_Automaticscroll>
  </modules>
  <frontend>
    <routers>
      <automaticscroll>
        <use>standard</use>
          <args>
            <module>Magik_Automaticscroll</module>
            <frontName>automaticscroll</frontName>
          </args>
      </automaticscroll>
    </routers>
    <layout>
       <updates>
	  <automaticscroll>
	     <file>automaticscroll.xml</file>
	  </automaticscroll>
       </updates>
    </layout>
  </frontend>
  <adminhtml> 
      <acl>
	  <resources>
	      <admin>  
		  <children>
		      <system>
			  <children>
			      <config>
				  <children>
				      <autoscrollsection translate="title" module="automaticscroll">  
					  <title>Magik Automatic Scroll</title>  
					  <sort_order>105</sort_order>
				      </autoscrollsection>
				  </children>
			      </config>
			  </children>
		      </system>
                </children>
	      </admin>
	  </resources>
      </acl>  
  </adminhtml>   
  <global>
    <helpers>
      <automaticscroll>
        <class>Magik_Automaticscroll_Helper</class>
      </automaticscroll>
    </helpers>
    <blocks>
      <automaticscroll>
         <class>Magik_Automaticscroll_Block</class>
      </automaticscroll>
    </blocks>
  </global>
  <default>
    <autoscrollsection>
      <autoscrollgeneral>
        <title>Loading more products...</title>      
      </autoscrollgeneral>
    </autoscrollsection>
  </default>
</config> 