<?xml version="1.0"?>
<config>
    <modules>
        <Boardroom_OneClickOrder>
            <version>0.0.2</version>
        </Boardroom_OneClickOrder>
    </modules>
    <frontend>
        <routers>
            <oneclickorder>
                <use>standard</use>
                <args>
                    <module>Boardroom_OneClickOrder</module>
                    <frontName>one-click-order</frontName>
                </args>
            </oneclickorder>
        </routers>
        <layout>
            <updates>
                <boardroom_oneclickorder>
                    <file>boardroom_oneclickorder.xml</file>
                </boardroom_oneclickorder>
            </updates>
        </layout>
    </frontend>
    <global>
        <events>
            <controller_action_predispatch_checkout_onepage_saveShipping>
                <observers>
                    <boardroom_oneclickorder>
                        <type>singleton</type>
                        <class>Boardroom_OneClickOrder_Model_Observer</class>
                        <method>controller_action_predispatch_checkout_onepage_saveShipping</method>
                    </boardroom_oneclickorder>
                </observers>
            </controller_action_predispatch_checkout_onepage_saveShipping>
        </events>
        <resources>
            <payment_attribute_setup>
                <setup>
                    <module>Boardroom_OneClickOrder</module>
                    <class>Mage_Catalog_Model_Resource_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </payment_attribute_setup>
            <payment_attribute_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </payment_attribute_write>
            <payment_attribute_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </payment_attribute_read>
        </resources>
    </global>
</config>
