<?xml version="1.0"?>
<config>
	<menu>
        <ecommhub translate="title" module="novus_ecommhub">
            <title>eCommHub</title>
            <sort_order>290</sort_order>
            <children>
                <form translate="title" module="novus_ecommhub">
                    <title>Form</title>
                    <sort_order>10</sort_order>
                    <action>adminhtml/adminform</action>
                </form>
            </children>
        </ecommhub>
    </menu>
 </config>
