<?xml version="1.0" ?>
<config>
	<modules>
		<ParadoxLabs_Autoship>
			<version>1.0.0</version>
		</ParadoxLabs_Autoship>
	</modules>
	<global>
		<blocks>
			<autoship>
				<class>ParadoxLabs_Autoship_Block</class>
			</autoship>
			<authnetcim>
				<rewrite>
					<recurringprofile_edit>ParadoxLabs_Autoship_Block_Recurringprofile_Edit</recurringprofile_edit>
				</rewrite>
			</authnetcim>
		</blocks>
		<helpers>
			<autoship>
				<class>ParadoxLabs_Autoship_Helper</class>
			</autoship>
		</helpers>
		<models>
			<autoship>
				<class>ParadoxLabs_Autoship_Model</class>
				<resourceModel>autoship_resource</resourceModel>
			</autoship>
			<autoship_resource>
				<class>ParadoxLabs_Autoship_Model_Resource</class>
			</autoship_resource>
			<adminhtml>
				<rewrite>
					<sales_order_create>ParadoxLabs_Autoship_Model_Override_Adminhtml_Sales_Order_Create</sales_order_create>
				</rewrite>
			</adminhtml>
			<sales>
				<rewrite>
					<order_pdf_items_invoice_default>ParadoxLabs_Autoship_Model_Override_Order_Pdf_Items_Invoice_Default</order_pdf_items_invoice_default>
				</rewrite>
			</sales>
		</models>
		<resources>
			<autoship_product_setup>
				<setup>
					<module>ParadoxLabs_Autoship</module>
					<class>Mage_Catalog_Model_Resource_Setup</class>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</autoship_product_setup>
			<autoship_order_setup>
				<setup>
					<module>ParadoxLabs_Autoship</module>
					<class>Mage_Sales_Model_Mysql4_Setup</class>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</autoship_order_setup>
			<autoship_write>
				<connection>
					<use>core_write</use>
				</connection>
			</autoship_write>
			<autoship_read>
				<connection>
					<use>core_read</use>
				</connection>
			</autoship_read>
		</resources>
		<events>
			<sales_quote_add_item>
				<observers>
					<autoship_add_to_cart>
						<class>autoship/observer_itemtoorder</class>
						<method>addItemToCart</method>
					</autoship_add_to_cart>
				</observers>
			</sales_quote_add_item>
			<checkout_cart_update_items_after>
				<observers>
					<autoship_update_cart>
						<class>autoship/observer_itemtoorder</class>
						<method>updateItemInCart</method>
					</autoship_update_cart>
				</observers>
			</checkout_cart_update_items_after>
			<checkout_submit_all_after>
				<observers>
					<autoship_create_order>
						<class>autoship/observer_itemtoorder</class>
						<method>convertQuoteToOrder</method>
					</autoship_create_order>
					<autoship_split_order>
						<class>autoship/observer_generatesubs</class>
						<method>generateSubscriptionsOnOrder</method>
					</autoship_split_order>
				</observers>
			</checkout_submit_all_after>
			<tokenbase_recurringprofile_edit_before_save>
				<observers>
					<autoship_save_period>
						<class>autoship/observer_rpedit</class>
						<method>updateRecurringProfile</method>
					</autoship_save_period>
				</observers>
			</tokenbase_recurringprofile_edit_before_save>
			<payment_method_is_active>
				<observers>
					<autoship_allow_method>
						<type>singleton</type>
						<class>autoship/observer_paymentmethods</class>
						<method>paymentMethodIsActive</method>
					</autoship_allow_method>
				</observers>
			</payment_method_is_active>
		</events>
	</global>
	<default>
		<paradoxlabs_autoship>
			<autoship>
				<periods>30,45,60,90</periods>
				<default_period>30</default_period>
				<shipping>0.00</shipping>
			</autoship>
		</paradoxlabs_autoship>
	</default>
	<frontend>
		<routers>
			<customer>
				<args>
					<modules>
						<ParadoxLabs_Autoship before="ParadoxLabs_TokenBase">ParadoxLabs_Autoship_Customer</ParadoxLabs_Autoship>
					</modules>
				</args>
			</customer>
		</routers>
		<layout>
			<updates>
				<autoship>
					<file>ParadoxLabs_Autoship.xml</file>
				</autoship>
			</updates>
		</layout>
		<translate>
			<modules>
				<autoship>
					<files>
						<default>ParadoxLabs_Autoship.csv</default>
					</files>
				</autoship>
			</modules>
		</translate>
	</frontend>
	<adminhtml>
		<layout>
			<updates>
				<autoship>
					<file>ParadoxLabs_Autoship.xml</file>
				</autoship>
			</updates>
		</layout>
		<acl>
			<resources>
				<admin>
					<children>
						<system>
							<children>
								<config>
									<children>
										<paradoxlabs_autoship>
											<title>ParadoxLabs - Autoship</title>
										</paradoxlabs_autoship>
									</children>
								</config>
							</children>
						</system>
					</children>
				</admin>
			</resources>
		</acl>
	</adminhtml>
</config>