/** excuse the bad css. Not my best work **/
.cart .giftselect { border:1px solid #cec3b6; background:#fafaec; padding:12px 15px; display: inline-block; padding-bottom: 24px; margin-bottom: 20px; width: 100%;}
.cart .giftselect h2 { font-size:13px; font-weight:bold; color: #D12C01}
.cart .giftselect p { line-height: 1.1; }
.cart .giftselect .product-image { 
	display: block;
	margin-right: 11px;
	margin-left: 11px;}
.cart .giftselect .price-box .msrp-price { display: none; }
.cart .giftselect .item .price-box { clear: both; }
.cart .giftselect .product-name { font-weight:bold; padding-bottom: 10px; min-height: 32px; text-align: center; float: none; clear: both;}
.cart .giftselect li.item { 
	float: left!important;
	width: 180px;
	text-align: center;
	margin-top: 10px;
	border: 1px solid rgb(196, 192, 192);
	padding: 5px;
	background: white;
}
.cart .giftselect li.item button { clear: both; float: none !important; margin-top: 5px;}
.cart .giftselect .link-compare { font-weight:normal; }

.cart .giftselect ul { float: left; width: 100%; }
.cart .crosssell li.item:after { display:block; content:"."; clear:both; font-size:0; line-height:0; height:0; overflow:hidden; }

.cart .title-buttons .checkout-types li { float: none; }

.cart .giftselect .product-options { padding: 0px; clear: both; margin: 0px; }
.cart .giftselect .product-options dt { padding: 0px; width: 100%; }
.cart .giftselect .product-options dt label { clear: both; float:left; }
.cart .giftselect .product-options dd { margin: 0px; border-bottom: none; }
.cart .giftselect .product-options p.required { position: relative; right: 10px; top: 0px; }
.cart .giftselect .product-options .minimal-price-link { display: none; }

#downloadable-links-list {
    width: 150px;
    clear: both;
    float: none;
}

#downloadable-links-list span {
    float: left;
}

#downloadable-links-list .required {
    display: none;
}

.cart .giftselect .required { clear: both; }

.cart .giftselect .super-attribute-select {
	border: 1px solid silver;
}

.cart .giftselect .input-box {
	padding: 10px;
}

.cart .giftselect img {
	display: inline;
}