<?xml version="1.0"?>
<config>
    <modules>
        <Boardroom_Pcd>
            <version>0.0.2</version>
        </Boardroom_Pcd>
    </modules>
    <global>
        <helpers>
            <boardroom_pcd>
                <class>Boardroom_Pcd_Helper</class>
            </boardroom_pcd>
        </helpers>
        <resources>
            <boardroom_pcd_setup>
                <setup>
                    <module>Boardroom_Pcd</module>
                    <class>Mage_Catalog_Model_Resource_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </boardroom_pcd_setup>
            <boardroom_pcd_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </boardroom_pcd_write>
            <boardroom_pcd_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </boardroom_pcd_read>
        </resources>
        <events>
            <customer_address_save_after>
                <observers>
                    <boardroom_pcd>
                        <type>singleton</type>
                        <class>Boardroom_Pcd_Model_Observer</class>
                        <method>afterAddressSave</method>
                    </boardroom_pcd>
                </observers>
            </customer_address_save_after>
        </events>
    </global>
</config>
