ol#recently-viewed-items li.item div.product a.product-image {
	float:left;
}

ol#recently-viewed-items li.item div.product div.product-details {
	margin-left: 60px;
}


.product-tabs {
    clear: both;
    height: auto;
    position: relative;
    width: auto;
}
:first-child + html .product-tabs {
    overflow: hidden;
}
.product-tabs li {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #E8E8E8;
    border-color: #E8E8E8;
    border-image: none;
    border-radius: 8px 8px 0 0;
    border-style: solid;
    border-width: 1px 1px 0;
    color: #414141;
    cursor: pointer;
    float: left;
    height: 20px;
    margin-right: 4px;
    overflow: hidden;
    padding: 6px 20px 0;
    position: relative;
    text-transform: uppercase;
    z-index: 15;
}
.product-tabs li.active {
    background-color: #FFFFFF;
    border-color: #BEBEBE;
    height: 21px;
}

.product-tabs .tab-container .tab-content {
    border: 1px solid #BEBEBE;
    font-size: 12px;
    line-height: 1.35em;
    padding: 20px;
}

.product-collateral {
    background: none;
}

.product-tabs-content h2 {
	display: none;
	}
	
.product-tabs-content {
	margin-top: 27px;
	border: 1px solid #BEBEBE;
	padding:20px;
	}
	
.product-tabs li a{
	text-decoration: none;
	}	
	
.no-rating {
	margin-top: 10px;
	}
		