<?xml version="1.0" encoding="utf-8"?>
<config>
    <modules>
        <Magik_Onestepcheckout>
            <version>1.0.1</version>
        </Magik_Onestepcheckout>
    </modules>

    <global>
        <models>
            <onestepcheckout>
                <class>Magik_Onestepcheckout_Model</class>
            </onestepcheckout>
            <onestepcheckout_adminhtml>
                <class>Magik_Onestepcheckout_Adminhtml_Model</class>
            </onestepcheckout_adminhtml>
        </models>
        <blocks>
            <checkout>
                <rewrite>
                    <links>Magik_Onestepcheckout_Block_Links</links>
                </rewrite>
            </checkout>
            <onestepcheckout>
                <class>Magik_Onestepcheckout_Block</class>
            </onestepcheckout>
        </blocks>
        <helpers>
            <checkout>
                <rewrite>
                    <url>Magik_Onestepcheckout_Helper_Url</url>
                </rewrite>
            </checkout>
            <onestepcheckout>
                <class>Magik_Onestepcheckout_Helper</class>
            </onestepcheckout>
        </helpers>
    </global>

    <frontend>
        <routers>
            <onestepcheckout>
                <use>standard</use>
                <args>
                    <module>Magik_Onestepcheckout</module>
                    <frontName>onestepcheckout</frontName>
                </args>
            </onestepcheckout>
        </routers>
        <translate>
            <modules>
                <Magik_Onestepcheckout>
                     <files>
                          <default>Magik_Onestepcheckout.csv</default>
                     </files>
                </Magik_Onestepcheckout>
            </modules>
        </translate>
        <layout>
             <updates>
                  <onestepcheckout>
                        <file>onestepcheckout.xml</file>
                  </onestepcheckout>
             </updates>
        </layout>
        <events>
             <sales_model_service_quote_submit_after>
                <observers>
                    <onestepcheckout>
                        <type>model</type>
                        <class>onestepcheckout/observer</class>
                        <method>removeHistoryComment</method>
                    </onestepcheckout>
                </observers>
            </sales_model_service_quote_submit_after>
            <sales_model_service_quote_submit_before>
                <observers>
                    <onestepcheckout>
                        <type>model</type>
                        <class>onestepcheckout/observer</class>
                        <method>addHistoryComment</method>
                    </onestepcheckout>
                </observers>
            </sales_model_service_quote_submit_before>
 
      		<controller_action_layout_render_before_checkout_cart_index>
                <observers>
                    <onestepcheckout>
                        <class>onestepcheckout/observer</class>
                        <method>setEmptyCartTemplate</method>
                    </onestepcheckout>
                </observers>
            </controller_action_layout_render_before_checkout_cart_index>
 
        </events>
    </frontend>

    <adminhtml>
        <translate>
            <modules>
                <Magik_Onestepcheckout>
                    <files>
                        <default>Magik_Onestepcheckout.csv</default>
                    </files>
                </Magik_Onestepcheckout>
            </modules>
        </translate>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <onestepcheckout translate="title" module="onestepcheckout">
                                            <title>One Page Checkout Section</title>
                                            <sort_order>270</sort_order>
                                        </onestepcheckout>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl> 
    </adminhtml>
    <default>
      <mgkonestepcheckout_section>	
	  <mgkopcgeneral_group>
	      <mgkopcpagetitle>One step checkout</mgkopcpagetitle>
	      <mgkopcpagedescp>Please input information into the form below!</mgkopcpagedescp>
	      <mgkopcbgcolor>#00a9ba</mgkopcbgcolor>
	      <mgkopcbordercolor>#CCCCCC</mgkopcbordercolor>
	     
	      </mgkopcgeneral_group>
          <mgkopcfield_group>
	      <mgkopcaddlines>2</mgkopcaddlines>
	  </mgkopcfield_group>
	  <mgkopcterms_group>
	      <mgktermswidth>500px</mgktermswidth>
	      <mgktermsheight>300px</mgktermsheight>
	  </mgkopcterms_group>
      </mgkonestepcheckout_section>
    </default>
    
    <admin>
        <routers>
            <onestepcheckout>
                <use>admin</use>            
                <args>
                    <module>Magik_Onestepcheckout</module>
                    <frontName>onestepcheckout</frontName>
                </args>
            </onestepcheckout>
        </routers>
    </admin>
</config>