<?xml version="1.0" ?>
<config>
    <tabs>
        <magik translate="label">
            <label>Magik</label>
            <sort_order>271</sort_order>
        </magik>
    </tabs>
    <sections>
        <mgkonestepcheckout_section translate="label">
            <label>Checkout Pro</label>
            <sort_order>271</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <tab>magik</tab>
            <groups>
                <mgkopcgeneral_group translate="label">
                    <label>Genaral Settings</label>
                    <sort_order>11</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <expanded>1</expanded>
                    <fields>
			<mgkextenable translate="label">
			    <label>Enable Checkout Pro</label>
			    <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
			    <sort_order>11</sort_order>
			    <show_in_default>1</show_in_default>
			    <show_in_website>1</show_in_website>
			    <show_in_store>1</show_in_store>
			</mgkextenable>
                         <mgkopcpagetitle translate="label">
			    <label>Page Title</label>
			    <frontend_type>text</frontend_type>
                            <sort_order>12</sort_order>
			    <show_in_default>1</show_in_default>
			    <show_in_website>1</show_in_website>
			    <show_in_store>1</show_in_store>
			</mgkopcpagetitle>
			<mgkopcpagedescp translate="label">
			    <label>Page Description</label>
			    <frontend_type>textarea</frontend_type>
                            <sort_order>13</sort_order>
			    <show_in_default>1</show_in_default>
			    <show_in_website>1</show_in_website>
			    <show_in_store>1</show_in_store>
			</mgkopcpagedescp>
			<mgkopcbgcolor translate="label">
                            <label>Background Color</label>
			    <frontend_type>text</frontend_type>
                            <frontend_model>onestepcheckout/adminhtml_system_config_form_field_color</frontend_model>
                            <sort_order>14</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </mgkopcbgcolor>
			<mgkopcbordercolor translate="label">
                            <label>Border Color</label>
			    <frontend_type>text</frontend_type>
                            <frontend_model>onestepcheckout/adminhtml_system_config_form_field_color</frontend_model>
                            <sort_order>15</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </mgkopcbordercolor>
			<mgkopcpaymentmethod translate="label">
			     <label>Default Payment Method</label>
			   <frontend_type>select</frontend_type>
                           <source_model>onestepcheckout/system_config_paymentmethods</source_model>
                            <sort_order>16</sort_order>
			    <show_in_default>1</show_in_default>
			    <show_in_website>1</show_in_website>
			    <show_in_store>1</show_in_store>
			</mgkopcpaymentmethod>
			<mgkopccountry translate="label">
			    <label>Default Country</label>
			   <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_country</source_model>
                            <sort_order>17</sort_order>
			    <show_in_default>1</show_in_default>
			    <show_in_website>1</show_in_website>
			    <show_in_store>1</show_in_store>
			</mgkopccountry>
			<mgkallowguest translate="label">
			    <label>Allow Guest Checkout</label>
			    <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
			    <sort_order>18</sort_order>
			    <show_in_default>1</show_in_default>
			    <show_in_website>1</show_in_website>
			    <show_in_store>1</show_in_store>
			</mgkallowguest>
			<mgkshiptodiffadd translate="label">
			    <label>Display Different Shipping address</label>
			    <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
			    <sort_order>19</sort_order>
			    <show_in_default>1</show_in_default>
			    <show_in_website>1</show_in_website>
			    <show_in_store>1</show_in_store>
			</mgkshiptodiffadd>
			<mgknewssub translate="label">
			    <label>Newsletter Subscription checkbox</label>
			    <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
			    <sort_order>20</sort_order>
			    <show_in_default>1</show_in_default>
			    <show_in_website>1</show_in_website>
			    <show_in_store>1</show_in_store>
			</mgknewssub>
			<mgkcomment translate="label">
			    <label>Show Comment</label>
			    <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
			    <sort_order>21</sort_order>
			    <show_in_default>1</show_in_default>
			    <show_in_website>1</show_in_website>
			    <show_in_store>1</show_in_store>
			</mgkcomment>
			<!--<mgkcommentlength translate="label">
			    <label>Number of Comment Characters</label>
			    <validate>validate-greater-than-zero</validate>
			    <frontend_type>text</frontend_type>
			    <sort_order>22</sort_order>
			    <show_in_default>1</show_in_default>
			    <show_in_website>1</show_in_website>
			    <show_in_store>1</show_in_store>
			</mgkcommentlength>-->
			<mgkcartlink translate="label">
			    <label>Show Edit cart link</label>
			    <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
			    <sort_order>23</sort_order>
			    <show_in_default>1</show_in_default>
			    <show_in_website>1</show_in_website>
			    <show_in_store>1</show_in_store>
			</mgkcartlink>
			<mgkopccoupon translate="label">
			    <label>Show Coupon Code</label>
			     <frontend_type>select</frontend_type>
			    <source_model>adminhtml/system_config_source_yesno</source_model>
			    <sort_order>24</sort_order>
			    <show_in_default>1</show_in_default>
			    <show_in_website>1</show_in_website>
			    <show_in_store>1</show_in_store>
			</mgkopccoupon>
			 
		    </fields>
	      </mgkopcgeneral_group>
	       <mgkopcfield_group translate="label">
                    <label>Fields Manager</label>
                    <sort_order>12</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <expanded>1</expanded>
		    <fields>
			  <!--<mgkopcaddlines translate="label">
			    <label>Number of Lines in a Street Address </label>
			    <comment>Leave empty for default (2). Valid range: 1-4</comment>
			    <frontend_type>text</frontend_type>
                            <sort_order>30</sort_order>
			    <show_in_default>1</show_in_default>
			    <show_in_website>1</show_in_website>
			    <show_in_store>1</show_in_store>
			 </mgkopcaddlines>
                         <mgkopcprefix translate="label">
			    <label>Show Prefix</label>
			    <comment>The title that goes before name (Mr., Mrs., etc.)</comment>
			    <frontend_type>select</frontend_type>
                            <source_model>onestepcheckout/system_config_addressfields</source_model>
			    <sort_order>31</sort_order>
			    <show_in_default>1</show_in_default>
			    <show_in_website>1</show_in_website>
			    <show_in_store>1</show_in_store>
			</mgkopcprefix>
			<mgkopcprefixopt translate="label">
			    <label>Prefix Dropdown Options</label>
			    <comment>Semicolon (;) separated values.Put semicolon in the beginning for empty first option.Leave empty for open text field.</comment>
			    <frontend_type>text</frontend_type>
			    <sort_order>32</sort_order>
			    <show_in_default>1</show_in_default>
			    <show_in_website>1</show_in_website>
			    <show_in_store>1</show_in_store>
			</mgkopcprefixopt>
			<mgkopcmiddlename translate="label">
			    <label>Show Middle Name (initial)</label>
			    <sort_order>33</sort_order>
			    <frontend_type>select</frontend_type>
                            <source_model>onestepcheckout/system_config_addressfields</source_model>
			    <show_in_default>1</show_in_default>
			    <show_in_website>1</show_in_website>
			    <show_in_store>1</show_in_store>
			</mgkopcmiddlename>
			<mgkopcsuffix translate="label">
			    <label>Show Suffix</label>
			    <comment>The suffix that goes after name (Jr., Sr., etc.)</comment>
			    <frontend_type>select</frontend_type>
                            <source_model>onestepcheckout/system_config_addressfields</source_model>
			    <sort_order>34</sort_order>
			    <show_in_default>1</show_in_default>
			    <show_in_website>1</show_in_website>
			    <show_in_store>1</show_in_store>
			</mgkopcsuffix>
			<mgkopcsuffixopt translate="label">
			    <label>Suffix dropdown options</label>
			    <frontend_type>text</frontend_type>
			    <comment>Semicolon (;) separated values.Put semicolon in the beginning for empty first option.Leave empty for open text field.</comment>
			    <sort_order>35</sort_order>
			    <show_in_default>1</show_in_default>
			    <show_in_website>1</show_in_website>
			    <show_in_store>1</show_in_store>
			</mgkopcsuffixopt>
			
			<mgkopcdob translate="label">
			    <label>Show Date of Birth</label>
			    <frontend_type>select</frontend_type>
			    <source_model>onestepcheckout/system_config_addressfields</source_model>
			    <sort_order>37</sort_order>
			    <show_in_default>1</show_in_default>
			    <show_in_website>1</show_in_website>
			    <show_in_store>1</show_in_store>
			</mgkopcdob>
			<mgkopctax translate="label">
			    <label>Show Tax/VAT Number</label>
			    <frontend_type>select</frontend_type>
			    <source_model>onestepcheckout/system_config_addressfields</source_model>
			    <sort_order>38</sort_order>
			    <show_in_default>1</show_in_default>
			    <show_in_website>1</show_in_website>
			    <show_in_store>1</show_in_store>
			</mgkopctax>
			<mgkopcgender translate="label">
			    <label>Show Gender</label>
			    <frontend_type>select</frontend_type>
			    <source_model>onestepcheckout/system_config_addressfields</source_model>
			    <sort_order>39</sort_order>
			    <show_in_default>1</show_in_default>
			    <show_in_website>1</show_in_website>
			    <show_in_store>1</show_in_store>
			</mgkopcgender>-->
			<mgkopcaddress translate="label">
			    <label>Show Address</label>
			    <frontend_type>select</frontend_type>
			    <source_model>onestepcheckout/system_config_addressfields</source_model>
			    <sort_order>39</sort_order>
			    <show_in_default>1</show_in_default>
			    <show_in_website>1</show_in_website>
			    <show_in_store>1</show_in_store>
			</mgkopcaddress>
			<mgkopccompany translate="label">
			    <label>Show Company</label>
			    <frontend_type>select</frontend_type>
			    <source_model>onestepcheckout/system_config_addressfields</source_model>
			    <sort_order>40</sort_order>
			    <show_in_default>1</show_in_default>
			    <show_in_website>1</show_in_website>
			    <show_in_store>1</show_in_store>
			</mgkopccompany>
			<mgkshowcountry translate="label">
			    <label>Show Country</label>
			    <frontend_type>select</frontend_type>
			    <source_model>adminhtml/system_config_source_yesno</source_model>
			    <sort_order>41</sort_order>
			    <show_in_default>1</show_in_default>
			    <show_in_website>1</show_in_website>
			    <show_in_store>1</show_in_store>
			</mgkshowcountry>
			<mgkopccity translate="label">
			    <label>Show City</label>
			    <frontend_type>select</frontend_type>
			    <source_model>onestepcheckout/system_config_addressfields</source_model>
			    <sort_order>42</sort_order>
			    <show_in_default>1</show_in_default>
			    <show_in_website>1</show_in_website>
			    <show_in_store>1</show_in_store>
			</mgkopccity>
			<mgkopczip translate="label">
			    <label>Show Zipcode</label>
			    <frontend_type>select</frontend_type>
			    <source_model>onestepcheckout/system_config_addressfields</source_model>
			    <sort_order>43</sort_order>
			    <show_in_default>1</show_in_default>
			    <show_in_website>1</show_in_website>
			    <show_in_store>1</show_in_store>
			</mgkopczip>
			<mgkopcstate translate="label">
			    <label>Show State/Province</label>
			    <frontend_type>select</frontend_type>
			    <source_model>adminhtml/system_config_source_yesno</source_model>
			    <sort_order>44</sort_order>
			    <show_in_default>1</show_in_default>
			    <show_in_website>1</show_in_website>
			    <show_in_store>1</show_in_store>
			</mgkopcstate>
			<mgkopcphone translate="label">
			    <label>Show Telephone</label>
			    <frontend_type>select</frontend_type>
			    <source_model>onestepcheckout/system_config_addressfields</source_model>
			    <sort_order>45</sort_order>
			    <show_in_default>1</show_in_default>
			    <show_in_website>1</show_in_website>
			    <show_in_store>1</show_in_store>
			</mgkopcphone>
			<mgkopcfax translate="label">
			    <label>Show Fax</label>
			    <frontend_type>select</frontend_type>
			    <source_model>onestepcheckout/system_config_addressfields</source_model>
			    <sort_order>46</sort_order>
			    <show_in_default>1</show_in_default>
			    <show_in_website>1</show_in_website>
			    <show_in_store>1</show_in_store>
			</mgkopcfax>
			
		     </fields>
                  </mgkopcfield_group>
                  <mgkopcterms_group translate="label">
                    <label>Terms and Conditions</label>
                    <sort_order>13</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <expanded>1</expanded>
                    <fields>
                        <mgktermsenable translate="label">
                            <label>Enable Terms and Conditions</label>
			    <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
			    <sort_order>71</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </mgktermsenable>
                        <mgktermscontent translate="label">
                            <label>Add Content</label>
			    <frontend_type>textarea</frontend_type>
                            <sort_order>72</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </mgktermscontent>
                        <mgktermswidth translate="label">
                            <label>Width</label>
                            <comment>add like 500px</comment>
			    <frontend_type>text</frontend_type>
                            <sort_order>73</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </mgktermswidth>
                        <mgktermsheight translate="label">
                            <label>Height</label>
                            <comment>add like 300px</comment>
			    <frontend_type>text</frontend_type>
                            <sort_order>74</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </mgktermsheight>
                    </fields> 
                </mgkopcterms_group>
              </groups>
        </mgkonestepcheckout_section>
     </sections>
</config>