html {
  font-family: "roboto", helvetica;
  position: relative;
  height: 100%;
  font-size: 100%;
  line-height: 1.5;
  color: #444;
}

h2 {
  margin: 1.75em 0 0;
  font-size: 5vw;
}

h3 { font-size: 1.3em; }

.v-center {
  height: 100vh;
  width: 100%;
  display: table;
  position: relative;
  text-align: center;
}

.v-center > div {
  display: table-cell;
  vertical-align: middle;
  position: relative;
  top: -10%;
}

.btn {
  font-size: 3vmin;
  padding: 0.75em 1.5em;
  background-color: #fff;
  border: 1px solid #bbb;
  color: #333;
  text-decoration: none;
  display: inline;
  border-radius: 4px;
  -webkit-transition: background-color 1s ease;
  -moz-transition: background-color 1s ease;
  transition: background-color 1s ease;
}

.btn:hover {
  background-color: #ddd;
  -webkit-transition: background-color 1s ease;
  -moz-transition: background-color 1s ease;
  transition: background-color 1s ease;
}

.btn-small {
  padding: .75em 1em;
  font-size: 0.8em;
}

.modal-box {
  display: none;
  position: absolute;
  z-index: 1000;
  width: 98%;
  background: white;
  border-radius: 8px;
  background-clip: padding-box;
}
@media (min-width: 32em) {

.modal-box { width: 777px; }
}

.modal-box header,
.modal-box .modal-header {
  padding: 1.25em 1.5em;
  border-bottom: 1px solid #ddd;
}

.modal-box header h3,
.modal-box header h4,
.modal-box .modal-header h3,
.modal-box .modal-header h4 { margin: 0; }

.modal-box .modal-body { padding: 2em 1.5em; background: url("../../images/applycoupon/applycoupon-bg.png"); min-height: 504px;  }
.coupon-successfully-img { text-align: center; margin: 36px 0 15px 0;}
.coupon-successfully-img img { display: inline-block; max-width: 100%;}
.coupon-successfully-text { color: #000000; font-family: "Raleway","Helvetica Neue",Verdana,Arial,sans-serif; font-size: 28px; font-weight: 500; line-height: 34px; text-align: center;}

.modal-box footer,
.modal-box .modal-footer {
  padding: 1em;
  border-top: 1px solid #ddd;
  background: rgba(0, 0, 0, 0.02);
  text-align: right;
}

.modal-overlay {
  opacity: 0;
  filter: alpha(opacity=0);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 900;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.77) !important;
}

a.close {
  line-height: 1;
  font-size: 1.5em;
  position: absolute;
  top: 20px;
  right: 20px;
  text-decoration: none;
  color: #bbb;
  background: url("../../images/applycoupon/popup-close.png");
  text-indent: -9999px;
  width: 23px; height: 23px;
}

a.close:hover {
  color: #222;
  -webkit-transition: color 1s ease;
  -moz-transition: color 1s ease;
  transition: color 1s ease;
}

@media screen and (max-width: 800px) {
    .modal-box { width: 92%;}
    .modal-box .modal-body { min-height:0;}
    .coupon-successfully-text { margin-bottom: 15px; }
}
@media screen and (max-width: 767px) {
    .coupon-successfully-text { font-size: 24px; line-height: 30px;}

}

@media screen and (max-width: 480px) {
a.close { background-size: cover; height: 18px; right: 10px; top: 10px; width: 18px; }
.coupon-successfully-img { margin-top: 15px;}
.coupon-successfully-text { font-size: 20px; line-height: 26px; } 
.modal-box .modal-body { padding: 2em 1em;}
}
@media screen and (max-width: 360px) {
.coupon-successfully-img { margin-top: 0px;}
.coupon-successfully-text { font-size: 18px; line-height: 24px; margin-bottom: 0 } 
}