<?xml version="1.0"?>
<config>
    <modules>
        <Glew_Service>
            <version>1.0.23</version>
            <depends>
                <Mage_Shipping/>
            </depends>
        </Glew_Service>
    </modules>
    <global>
        <models>
            <glew>
                <class>Glew_Service_Model</class>
            </glew>
        </models>
        <helpers>
            <glew>
                <class>Glew_Service_Helper</class>
            </glew>
        </helpers>
        <resources>
            <glew_setup>
                <connection>
                    <use>core_setup</use>
                </connection>
                <setup>
                    <module>Glew_Service</module>
                    <class>Glew_Service_Model_Resource_Setup</class>
                </setup>
            </glew_setup>
            <glew_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </glew_read>
            <glew_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </glew_write>
        </resources>
        <blocks>
            <glew>
                <class>Glew_Service_Block</class>
            </glew>
        </blocks>
    </global>
    <default>
        <glew_settings>
            <behavior>
                <order_stock_reduction>1</order_stock_reduction>
                <order_invoice_creation>1</order_invoice_creation>
            </behavior>
            <history>
                <limit>100</limit>
            </history>
            <debug>
                <logging>1</logging>
            </debug>
            <general>
                <enabled>1</enabled>
            </general>
        </glew_settings>
    </default>

    <frontend>
        <secure_url>
            <glew>/glew/</glew>
        </secure_url>
        <routers>
            <glew>
                <use>standard</use>
                <args>
                    <module>Glew_Service</module>
                    <frontName>glew</frontName>
                </args>
            </glew>
        </routers>
    </frontend>

    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <glew before="Mage_Adminhtml">Glew_Service</glew>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <glew_settings>
                                            <title>glew</title>
                                        </glew_settings>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>

    <menu>
        <glew module="glew" translate="title">
            <title>Glew</title>
            <sort_order>99</sort_order>
        </glew>
    </menu>
    <acl>
        <resources>
            <admin>
                <children>
                    <glew module="glew" translate="title">
                        <title>Glew</title>
                    </glew>
                </children>
            </admin>
        </resources>
    </acl>
</config>
