<?xml version="1.0"?>
<config>
    <tabs>
        <glew module="glew" translate="label">
            <label>Glew</label>
            <sort_order>99999</sort_order>
        </glew>
    </tabs>
    <sections>
        <glew_settings module="glew" translate="label">
            <label>Service</label>
            <tab>glew</tab>
            <frontend_type>text</frontend_type>
            <sort_order>1000</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
                <info>
                    <frontend_model>glew/adminhtml_widget_info_info</frontend_model>
                    <sort_order>1</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                </info>
                <general translate="label">
                    <label>Glew Settings</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>100</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <enabled translate="label">
                            <label>Enabled</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>Is Glew Enabled?</comment>
                        </enabled>
                        <shownav translate="label">
                            <label>Show Glew in Menu</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>11</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>Must clear cache after changing</comment>
                        </shownav>
                        <siteurl translate="label">
                            <label>Store URL</label>
                            <frontend_type>button</frontend_type>
                            <frontend_model>glew/storeUrl</frontend_model>
                            <sort_order>22</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>Your Secure Store URL</comment>
                        </siteurl>
                        <secret translate="label">
                            <label>Secret Key</label>
                            <frontend_type>button</frontend_type>
                            <frontend_model>glew/secretKey</frontend_model>
                            <sort_order>200</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>Your Glew Secret Key</comment>
                        </secret>
                    </fields>
                </general>
            </groups>
        </glew_settings>
    </sections>
</config>
