<?xml version="1.0"?>
<config>
<modules>
        <Magik_CatalogSearch>
            <version>0.1.0</version>
        </Magik_CatalogSearch>
    </modules>
	<global>
        <blocks>
            <catalogsearch>
			<rewrite>
                <autocomplete>Magiksearch_CatalogSearch_Block_Autocomplete</autocomplete>
            </rewrite>
			</catalogsearch>
        </blocks>	
	</global>
</config>