<?xml version="1.0"?>
<config>
    <modules>
        <EM_Saleproducts>
            <version>0.1.0</version>
        </EM_Saleproducts>
    </modules>
    <frontend>
        <routers>
            <saleproducts>
                <use>standard</use>
                <args>
                    <module>EM_Saleproducts</module>
                    <frontName>saleproducts</frontName>
                </args>
            </saleproducts>
        </routers>
        <layout>
            <updates>
                <saleproducts>
                    <file>saleproducts.xml</file>
                </saleproducts>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<saleproducts>
				<use>admin</use>
				<args>
					<module>EM_Saleproducts</module>
					<frontName>saleproducts</frontName>
				</args>
			</saleproducts>
        </routers>
    </admin>
     
    <global>
        <models>
            <saleproducts>
                <class>EM_Saleproducts_Model</class>
                <resourceModel>saleproducts_mysql4</resourceModel>
            </saleproducts>
            <saleproducts_mysql4>
                <class>EM_Saleproducts_Model_Mysql4</class>
                <entities>
                    <saleproducts>
                        <table>saleproducts</table>
                    </saleproducts>
                </entities>
            </saleproducts_mysql4>
        </models>
        <resources>
            <saleproducts_setup>
                <setup>
                    <module>EM_Saleproducts</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </saleproducts_setup>
            <saleproducts_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </saleproducts_write>
            <saleproducts_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </saleproducts_read>
        </resources>
        <blocks>
            <saleproducts>
                <class>EM_Saleproducts_Block</class>
            </saleproducts>
        </blocks>
        <helpers>
            <saleproducts>
                <class>EM_Saleproducts_Helper</class>
            </saleproducts>
        </helpers>
    </global>
</config>