<?xml version="1.0"?>
<config>
    <modules>
        <Magestore_Giftvoucher>
            <version>0.4.4</version>
        </Magestore_Giftvoucher>
    </modules>
    <frontend>
        <secure_url>
            <giftvoucher_checkout>/giftvoucher/checkout</giftvoucher_checkout>
        </secure_url>
        <routers>
            <giftvoucher>
                <use>standard</use>
                <args>
                    <module>Magestore_Giftvoucher</module>
                    <frontName>giftvoucher</frontName>
                </args>
            </giftvoucher>
        </routers>
        <layout>
            <updates>
                <giftvoucher>
                    <file>giftvoucher.xml</file>
                </giftvoucher>
            </updates>
        </layout>
        <translate>
            <modules>
                <Magestore_Giftvoucher>
                    <files>
                        <default>Magestore_Giftvoucher.csv</default>
                    </files>
                </Magestore_Giftvoucher>
            </modules>
        </translate>
        <events>
            <controller_action_predispatch_checkout_cart_index>
                <observers>
                    <checkout_cart_index_action>
                        <type>singleton</type>
                        <class>giftvoucher/observer</class>
                        <method>cartIndexAction</method>
                    </checkout_cart_index_action>
                </observers>
            </controller_action_predispatch_checkout_cart_index>
            <controller_action_predispatch_checkout_cart_couponPost>
                <observers>
                    <checkout_cart_couponPost_action>
                        <type>singleton</type>
                        <class>giftvoucher/observer</class>
                        <method>couponPostAction</method>
                    </checkout_cart_couponPost_action>
                </observers>
            </controller_action_predispatch_checkout_cart_couponPost>
            <sales_quote_collect_totals_after>
                <observers>
                    <quote_collect_totals_after>
                        <type>singleton</type>
                        <class>giftvoucher/observer</class>
                        <method>collectTotalsAfter</method>
                    </quote_collect_totals_after>
                </observers>
            </sales_quote_collect_totals_after>
            <controller_action_predispatch_checkout_onepage_index>
                <observers>
                    <checkout_cart_couponPost_action>
                        <type>singleton</type>
                        <class>giftvoucher/observer</class>
                        <method>predispatchCheckout</method>
                    </checkout_cart_couponPost_action>
                </observers>
            </controller_action_predispatch_checkout_onepage_index>
            <controller_action_predispatch_checkout_multishipping_addresses>
                <observers>
                    <checkout_cart_couponPost_action>
                        <type>singleton</type>
                        <class>giftvoucher/observer</class>
                        <method>predispatchCheckout</method>
                    </checkout_cart_couponPost_action>
                </observers>
            </controller_action_predispatch_checkout_multishipping_addresses>
            <controller_action_predispatch_onestepcheckout_index_index>
                <observers>
                    <checkout_cart_couponPost_action>
                        <type>singleton</type>
                        <class>giftvoucher/observer</class>
                        <method>predispatchCheckout</method>
                    </checkout_cart_couponPost_action>
                </observers>
            </controller_action_predispatch_onestepcheckout_index_index>
            <controller_action_layout_generate_blocks_after>
                <observers>
                    <checkout_action_layout_generate_blocks_after>
                        <type>singleton</type>
                        <class>giftvoucher/observer</class>
                        <method>controllerActionLayoutGenerateBlocksAfter</method>
                    </checkout_action_layout_generate_blocks_after>
                </observers>
            </controller_action_layout_generate_blocks_after>
            <sales_order_place_before>
                <observers>
                    <giftvoucher_order_place_before>
                        <type>singleton</type>
                        <class>giftvoucher/observer</class>
                        <method>orderPlaceBefore</method>
                    </giftvoucher_order_place_before>
                </observers>
            </sales_order_place_before>
            <sales_order_place_after>
                <observers>
                    <giftvoucher_order_place_after>
                        <type>singleton</type>
                        <class>giftvoucher/observer</class>
                        <method>orderPlaceAfter</method>
                    </giftvoucher_order_place_after>
                </observers>
            </sales_order_place_after>
            <paypal_prepare_line_items>
                <observers>
                    <giftvoucher_paypal_prepare_line_items>
                        <type>singleton</type>
                        <class>giftvoucher/observer</class>
                        <method>paypalPrepareItems</method>
                    </giftvoucher_paypal_prepare_line_items>
                </observers>
            </paypal_prepare_line_items>
            <core_block_abstract_to_html_after>
                <observers>
                    <giftvoucher_block_to_html>
                        <type>singleton</type>
                        <class>giftvoucher/observer</class>
                        <method>giftcardPaymentMethod</method>
                    </giftvoucher_block_to_html>
                </observers>
            </core_block_abstract_to_html_after>
			<core_block_abstract_to_html_before>
                <observers>
                    <giftvoucher_block_to_html_before>
                        <type>singleton</type>
                        <class>giftvoucher/observer</class>
                        <method>showLinks</method>
                    </giftvoucher_block_to_html_before>
                </observers>
            </core_block_abstract_to_html_before>
            <core_block_abstract_prepare_layout_before>
                <observers>
                    <magestore_giftcard_add_jquery_before_prototype>
                        <type>singleton</type>
                        <class>giftvoucher/observer</class>
                        <method>prepareLayoutBefore</method>
                    </magestore_giftcard_add_jquery_before_prototype>
                </observers>
            </core_block_abstract_prepare_layout_before>
        </events>
        <product>
            <collection>
                <attributes>
                    <gift_price/>
                </attributes>
            </collection>
        </product>
    </frontend>
    <admin> 
		<routers>
			<adminhtml>
				<args> 
					<modules>
						<Magestore_Giftvoucher after="Mage_Adminhtml">Magestore_Giftvoucher_Adminhtml</Magestore_Giftvoucher>
					</modules>					
				</args>
			</adminhtml> 
		</routers> 
	</admin>
    <adminhtml>
        <layout>
            <updates>
                <giftvoucher>
                    <file>giftvoucher.xml</file>
                </giftvoucher>
            </updates>
        </layout>
        <translate>
            <modules>
                <Magestore_Giftvoucher>
                    <files>
                        <default>Magestore_Giftvoucher.csv</default>
                    </files>
                </Magestore_Giftvoucher>
            </modules>
        </translate>
        <sales>
            <order>
                <create>
                    <available_product_types>
                        <giftvoucher/>
                    </available_product_types>
                </create>
            </order>
        </sales>
        <events>
            <catalog_product_new_action>
                <observers>
                    <giftvoucher_postdispatch_adminhtml_catalog_product_save>
                        <type>singleton</type>
                        <class>giftvoucher/observer</class>
                        <method>adminhtmlCatalogProductNewAfter</method>
                    </giftvoucher_postdispatch_adminhtml_catalog_product_save>
                </observers>
            </catalog_product_new_action>
            <controller_action_postdispatch_adminhtml_catalog_product_save>
                <observers>
                    <giftvoucher_postdispatch_adminhtml_catalog_product_save>
                        <type>singleton</type>
                        <class>giftvoucher/observer</class>
                        <method>adminhtmlCatalogProductSaveAfter</method>
                    </giftvoucher_postdispatch_adminhtml_catalog_product_save>
                </observers>
            </controller_action_postdispatch_adminhtml_catalog_product_save>
            <sales_model_service_quote_submit_after>
                <observers>
                    <giftvoucher_order_place_after>
                        <type>singleton</type>
                        <class>giftvoucher/observer</class>
                        <method>orderPlaceAfter</method>
                    </giftvoucher_order_place_after>
                </observers>
            </sales_model_service_quote_submit_after>
            <controller_action_predispatch_adminhtml_sales_order_create_start>
                <observers>
                    <giftvoucher_clear_session>
                        <type>singleton</type>
                        <class>giftvoucher/observer</class>
                        <method>clearAdminCheckoutSession</method>
                    </giftvoucher_clear_session>
                </observers>
            </controller_action_predispatch_adminhtml_sales_order_create_start>
            <controller_action_predispatch_adminhtml_sales_order_create_cancel>
                <observers>
                    <giftvoucher_clear_session>
                        <type>singleton</type>
                        <class>giftvoucher/observer</class>
                        <method>clearAdminCheckoutSession</method>
                    </giftvoucher_clear_session>
                </observers>
            </controller_action_predispatch_adminhtml_sales_order_create_cancel>
            <controller_action_predispatch_adminhtml_sales_order_create_loadBlock>
                <observers>
                    <giftvoucher_coupon_apply>
                        <type>singleton</type>
                        <class>giftvoucher/observer</class>
                        <method>applyWithCoupon</method>
                    </giftvoucher_coupon_apply>
                </observers>
            </controller_action_predispatch_adminhtml_sales_order_create_loadBlock>
            <sales_shipment_item_save_after>
                <observers>
                    <giftvoucher_shipment_item_save_after>
                        <type>singleton</type>
                        <class>giftvoucher/observer</class>
                        <method>updateShippedGiftCard</method>
                    </giftvoucher_shipment_item_save_after>
                </observers>
            </sales_shipment_item_save_after>
            <adminhtml_customer_save_after>
                <observers>
                    <giftcard_save_after>
                        <type>singleton</type>
                        <class>giftvoucher/observer</class>
                        <method>customerSaveAfter</method>
                    </giftcard_save_after>
                </observers>
            </adminhtml_customer_save_after>
            <adminhtml_sales_order_creditmemo_register_before>
                <observers>
                    <giftcard_creditmemo_register_before>
                        <type>singleton</type>
                        <class>giftvoucher/observer</class>
                        <method>creditmemoRegisterBefore</method>
                    </giftcard_creditmemo_register_before>
                </observers>
            </adminhtml_sales_order_creditmemo_register_before>
            <!-- Gift Card Product Conditions -->
            <controller_action_layout_render_before_adminhtml_catalog_product_new>
                <observers>
                    <giftcard_conditions>
                        <type>singleton</type>
                        <class>giftvoucher/observer</class>
                        <method>conditionsAction</method>
                    </giftcard_conditions>
                </observers>
            </controller_action_layout_render_before_adminhtml_catalog_product_new>
            <controller_action_layout_render_before_adminhtml_catalog_product_edit>
                <observers>
                    <giftcard_conditions>
                        <type>singleton</type>
                        <class>giftvoucher/observer</class>
                        <method>conditionsAction</method>
                    </giftcard_conditions>
                </observers>
            </controller_action_layout_render_before_adminhtml_catalog_product_edit>
            <catalog_product_save_after>
                <observers>
                    <giftcard_conditions>
                        <type>singleton</type>
                        <class>giftvoucher/observer</class>
                        <method>productSaveAfter</method>
                    </giftcard_conditions>
                </observers>
            </catalog_product_save_after>

        </events>
    </adminhtml>
    <global>        
        <models>
            <giftvoucher>
                <class>Magestore_Giftvoucher_Model</class>
                <resourceModel>giftvoucher_mysql4</resourceModel>
            </giftvoucher>
            <giftvoucher_mysql4>
                <class>Magestore_Giftvoucher_Model_Mysql4</class>
                <entities>
                    <giftvoucher>
                        <table>giftvoucher</table>
                    </giftvoucher>
                    <history>
                        <table>giftvoucher_history</table>
                    </history>
                    <credit>
                        <table>giftvoucher_credit</table>
                    </credit>
                    <credithistory>
                        <table>giftvoucher_credit_history</table>
                    </credithistory>
                    <customervoucher>
                        <table>giftvoucher_customer_voucher</table>
                    </customervoucher>
                    <template>
                        <table>giftvoucher_template</table>
                    </template>
                    <gifttemplate>
                        <table>giftcard_template</table>
                    </gifttemplate>
                    <product>
                        <table>giftvoucher_product</table>
                    </product>
                </entities>
            </giftvoucher_mysql4>
        </models>
        <resources>
            <giftvoucher_setup>
                <setup>
                    <module>Magestore_Giftvoucher</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </giftvoucher_setup>
            <giftvoucher_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </giftvoucher_write>
            <giftvoucher_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </giftvoucher_read>
        </resources>
        <blocks>
            <giftvoucher>
                <class>Magestore_Giftvoucher_Block</class>
            </giftvoucher>
            <adminhtml>
                <rewrite>
                    <catalog_product_edit_tab_inventory>Magestore_Giftvoucher_Block_Adminhtml_Inventory</catalog_product_edit_tab_inventory>
                    <sales_order_create_items_grid>Magestore_Giftvoucher_Block_Adminhtml_Sales_Order_Create_Items_Grid</sales_order_create_items_grid>
                </rewrite>
            </adminhtml>
        </blocks>
        <helpers>
            <giftvoucher>
                <class>Magestore_Giftvoucher_Helper</class>
            </giftvoucher>
        </helpers>
        <sales>
            <quote>
                <totals>
                    <giftcardcredit>
                        <class>giftvoucher/total_quote_giftcardcredit</class>
                        <after>wee,discount</after>
                        <before>giftvoucher,tax</before>
                    </giftcardcredit>
                    <giftvoucher>
                        <class>giftvoucher/total_quote_giftvoucher</class>
                        <renderer>giftvoucher/cart_total</renderer>
                        <after>wee,discount</after>
                        <before>tax</before>
                    </giftvoucher>
                    <giftcardcredit_after_tax>
                        <class>giftvoucher/total_quote_giftcardcreditaftertax</class>
                        <after>tax</after>
                        <before>giftvoucher_after_tax,grand_total</before>
                    </giftcardcredit_after_tax>
                    <giftvoucher_after_tax>
                        <class>giftvoucher/total_quote_giftvoucheraftertax</class>
                        <renderer>giftvoucher/cart_total</renderer>
                        <after>tax</after>
                        <before>grand_total</before>
                    </giftvoucher_after_tax>
                </totals>
            </quote>
            <order_invoice>
                <totals>
                    <giftvoucher>
                        <class>giftvoucher/total_order_invoice_giftvoucher</class>
                        <after>grand_total</after>
                        <!-- <before>tax</before> -->
                    </giftvoucher>
                    <!-- <giftcardcredit>
                        <class>giftvoucher/total_order_invoice_giftcardcredit</class>
                    </giftcardcredit> -->
                </totals>
            </order_invoice>
            <order_creditmemo>
                <totals>
                    <giftvoucher>
                        <class>giftvoucher/total_order_creditmemo_giftvoucher</class>
                        <after>grand_total</after>
                        <!-- <before>tax</before> -->
                    </giftvoucher>
                    <!-- <giftcardcredit>
                        <class>giftvoucher/total_order_creditmemo_giftcardcredit</class>
                    </giftcardcredit> -->
                </totals>
            </order_creditmemo>
        </sales>
        <pdf>
            <invoice>
                <giftvoucher>giftvoucher/pdf_invoice_item</giftvoucher>
            </invoice>
            <shipment>
                <giftvoucher>giftvoucher/pdf_shipment_item</giftvoucher>
            </shipment>
            <creditmemo>
                <giftvoucher>giftvoucher/pdf_creditmemo_item</giftvoucher>
            </creditmemo>
            <totals>
                <giftvoucher translate="title">
                    <title>Gift Card</title>
                    <source_field>gift_voucher_discount</source_field>
                    <model>giftvoucher/total_pdf_giftvoucher</model>
                    <font_size>7</font_size>
                    <display_zero>0</display_zero>
                    <sort_order>512</sort_order>
                </giftvoucher>
                <giftcardcredit translate="title">
                    <title>Customer Credit</title>
                    <source_field>use_gift_credit_amount</source_field>
                    <model>giftvoucher/total_pdf_giftcardcredit</model>
                    <font_size>7</font_size>
                    <display_zero>0</display_zero>
                    <sort_order>511</sort_order>
                </giftcardcredit>
            </totals>
        </pdf>
        <fieldsets>
            <sales_convert_quote_item>
                <giftcard_credit_amount>
                    <to_order_item>*</to_order_item>
                </giftcard_credit_amount>
                <base_use_gift_credit_amount>
                    <to_order_item>*</to_order_item>
                </base_use_gift_credit_amount>
                <use_gift_credit_amount>
                    <to_order_item>*</to_order_item>
                </use_gift_credit_amount>
                <base_gift_voucher_discount>
                    <to_order_item>*</to_order_item>
                </base_gift_voucher_discount>
                <gift_voucher_discount>
                    <to_order_item>*</to_order_item>
                </gift_voucher_discount>
                <giftvoucher_base_hidden_tax_amount>
                    <to_order_item>*</to_order_item>
                </giftvoucher_base_hidden_tax_amount>
                <giftvoucher_hidden_tax_amount>
                    <to_order_item>*</to_order_item>
                </giftvoucher_hidden_tax_amount>
                <giftcredit_hidden_tax_amount>
                    <to_order_item>*</to_order_item>
                </giftcredit_hidden_tax_amount>
                <giftcredit_base_hidden_tax_amount>
                    <to_order_item>*</to_order_item>
                </giftcredit_base_hidden_tax_amount>
            </sales_convert_quote_item>
            <sales_convert_quote_address>
                <base_giftvoucher_discount_for_shipping>
                    <to_order>*</to_order>
                </base_giftvoucher_discount_for_shipping>
                <giftvoucher_discount_for_shipping>
                    <to_order>*</to_order>
                </giftvoucher_discount_for_shipping>
                <base_giftcredit_discount_for_shipping>
                    <to_order>*</to_order>
                </base_giftcredit_discount_for_shipping>
                <giftcredit_discount_for_shipping>
                    <to_order>*</to_order>
                </giftcredit_discount_for_shipping>
                <base_gift_voucher_discount>
                    <to_order>*</to_order>
                </base_gift_voucher_discount>
                <gift_voucher_discount>
                    <to_order>*</to_order>
                </gift_voucher_discount>
                <gift_codes>
                    <to_order>*</to_order>
                </gift_codes>
                <codes_base_discount>
                    <to_order>*</to_order>
                </codes_base_discount>
                <codes_discount>
                    <to_order>*</to_order>
                </codes_discount>
                <giftcard_credit_amount>
                    <to_order>*</to_order>
                </giftcard_credit_amount>
                <base_use_gift_credit_amount>
                    <to_order>*</to_order>
                </base_use_gift_credit_amount>
                <use_gift_credit_amount>
                    <to_order>*</to_order>
                </use_gift_credit_amount>
                <giftvoucher_base_shipping_hidden_tax_amount>
                    <to_order>*</to_order>
                </giftvoucher_base_shipping_hidden_tax_amount>
                <giftvoucher_shipping_hidden_tax_amount>
                    <to_order>*</to_order>
                </giftvoucher_shipping_hidden_tax_amount>
                <giftcredit_base_shipping_hidden_tax_amount>
                    <to_order>*</to_order>
                </giftcredit_base_shipping_hidden_tax_amount>
                <giftcredit_shipping_hidden_tax_amount>
                    <to_order>*</to_order>
                </giftcredit_shipping_hidden_tax_amount>
                <giftvoucher_base_hidden_tax_amount>
                    <to_order>*</to_order>
                </giftvoucher_base_hidden_tax_amount>
                <giftvoucher_hidden_tax_amount>
                    <to_order>*</to_order>
                </giftvoucher_hidden_tax_amount>
                <giftcredit_base_hidden_tax_amount>
                    <to_order>*</to_order>
                </giftcredit_base_hidden_tax_amount>
                <giftcredit_hidden_tax_amount>
                    <to_order>*</to_order>
                </giftcredit_hidden_tax_amount>
            </sales_convert_quote_address>
        </fieldsets>
        <events>
            <checkout_cart_product_add_after>
                <observers>
                    <giftvoucher_collect_totals_before>
                        <type>singleton</type>
                        <class>giftvoucher/observer</class>
                        <method>productAddAfter</method>
                    </giftvoucher_collect_totals_before>
                </observers>
            </checkout_cart_product_add_after>
			<paypal_prepare_line_items>
                <observers>
                    <giftvoucher_paypal_prepare_line_items>
                        <type>singleton</type>
                        <class>giftvoucher/observer</class>
                        <method>paypalPrepareItems</method>
                    </giftvoucher_paypal_prepare_line_items>
                </observers>
            </paypal_prepare_line_items>
            <sales_quote_collect_totals_before>
                <observers>
                    <giftvoucher_collect_totals_before>
                        <type>singleton</type>
                        <class>giftvoucher/observer</class>
                        <method>collectTotalsBefore</method>
                    </giftvoucher_collect_totals_before>
                </observers>
            </sales_quote_collect_totals_before>
            <sales_order_load_after>
                <observers>
                    <giftvoucher_order_load_after>
                        <type>singleton</type>
                        <class>giftvoucher/observer</class>
                        <method>orderLoadAfter</method>
                    </giftvoucher_order_load_after>
                </observers>
            </sales_order_load_after>
            <sales_order_save_after>
                <observers>
                    <giftvoucher_order_save_after>
                        <type>singleton</type>
                        <class>giftvoucher/observer</class>
                        <method>orderSaveAfter</method>
                    </giftvoucher_order_save_after>
                </observers>
            </sales_order_save_after>
            <sales_order_creditmemo_save_after>
                <observers>
                    <giftvoucher_creditmemo_save_after>
                        <type>singleton</type>
                        <class>giftvoucher/observer</class>
                        <method>creditmemoSaveAfter</method>
                    </giftvoucher_creditmemo_save_after>
                </observers>
            </sales_order_creditmemo_save_after>
            <sales_order_invoice_save_after>
                <observers>
                    <giftvoucher_invoice_save_after>
                        <type>singleton</type>
                        <class>giftvoucher/observer</class>
                        <method>invoiceSaveAfter</method>
                    </giftvoucher_invoice_save_after>
                </observers>
            </sales_order_invoice_save_after>
        </events>
        <catalog>
            <product>
                <type>
                    <giftvoucher translate="label" module="giftvoucher">
                        <label>Gift Card</label>
                        <model>giftvoucher/product_type</model>
                        <price_model>giftvoucher/product_price</price_model>
                        <index_data_retreiver>catalogindex/data_simple</index_data_retreiver>
                        <is_qty>1</is_qty>
                        <price_indexer>giftvoucher/indexer_price</price_indexer>
                    </giftvoucher>
                </type>
            </product>
        </catalog>
        <template>
            <email>
                <giftvoucher_email_self>
                    <label>Send to purchaser</label>
                    <file>giftvoucher/self.html</file>
                    <type>html</type>
                </giftvoucher_email_self>
                <giftvoucher_email_template>
                    <label>Send Gift Card to friend</label>
                    <file>giftvoucher/gift.html</file>
                    <type>html</type>
                </giftvoucher_email_template>
                <giftvoucher_email_template_refund>
                    <label>Send message refund Gift Card to friend</label>
                    <file>giftvoucher/gift_refund.html</file>
                    <type>html</type>
                </giftvoucher_email_template_refund>
                <giftvoucher_email_template_success>
                    <label>Send message to sender when Gift Card is sent to friend</label>
                    <file>giftvoucher/self_success.html</file>
                    <type>html</type>
                </giftvoucher_email_template_success>
            </email>
        </template>
    </global>
    <default>
        <giftvoucher>
            <general>
                <active>1</active>
                <pattern><![CDATA[[N.4]-[AN.5]-[A.4]]]></pattern>
                <showprefix>4</showprefix>
                <hiddenchar>X</hiddenchar>
                <status>1</status>
                <expire_orderstatus>canceled,closed</expire_orderstatus>
                <expire>365</expire>
                <enablecredit>1</enablecredit>
                <enablecredit>1</enablecredit>
                <credit_condition>1</credit_condition>
                <online_refund>1</online_refund>
                <refund_orderstatus>canceled,closed</refund_orderstatus>
                <auto_shipping>0</auto_shipping>
                <maximum>5</maximum>
                <use_for_ship>0</use_for_ship>
                <use_with_coupon>1</use_with_coupon>
                <show_expiry_date>1</show_expiry_date>
                <apply_after_tax>1</apply_after_tax>
                <gc_show_check_link>0</gc_show_check_link>
            </general>
            <interface>
                <amount>25,75,100</amount>
                <description>The value of Gift card</description>
                <postoffice>1</postoffice>
                <!--                        Hai.Tran-->
                <custom_image>1</custom_image>
                <upload_max_size>500</upload_max_size>
<!--                <remove_custom_image>1</remove_custom_image>-->
                <postoffice_date>0</postoffice_date>
                <max>220</max>
                <schedule>1</schedule>
            </interface>
            <!--                Hai.Tran-->
            <interface_checkout>
                <display_image_item>1</display_image_item>
                <show_gift_card>1</show_gift_card>
                <display>amount,giftcard_template_id,recipient_name,recipient_email,recipient_ship,recipient_address,message,day_to_send</display>
            </interface_checkout>
            <interface_payment>
                <show_gift_card>1</show_gift_card>                
            </interface_payment>
            <!--                End Hai.Tran-->
            <email>
                <enable>1</enable>
                <sender>general</sender>
                <note><![CDATA[Please note that: Converting to cash is not allowed. You can use the Gift card code or redeem it to credit balance to pay for your order at <a href="{store_url}" title="{store_name}">{store_url}</a>.]]>
                </note>
                <attachment>0</attachment>
                <self>giftvoucher_email_self</self>
                <only_complete>2,4,5</only_complete>
                <send_with_ship>1</send_with_ship>
                <send_refund>1</send_refund>
                <template>giftvoucher_email_template</template>
                <template_refund>giftvoucher_email_template_refund</template_refund>
                <template_success>giftvoucher_email_template_success</template_success>
                <autosend>1</autosend>
                <daybefore>7</daybefore>
            </email>
            <print_voucher>
                <barcode_enable>1</barcode_enable>
                <barcode_type>code128</barcode_type>
                <logo>default/logo_print.png</logo>
                <note><![CDATA[Converting to cash is not allowed. You can use the gift card code or redeem it to pay for your order at {store_url}.]]></note>
            </print_voucher>
        </giftvoucher>
        <sales>
            <totals_sort>
                <giftcardcredit>34</giftcardcredit>
                <giftvoucher>35</giftvoucher>
                <giftcardcredit_after_tax>60</giftcardcredit_after_tax>
                <giftvoucher_after_tax>70</giftvoucher_after_tax>
            </totals_sort>
        </sales>
        <payment>
            <giftvoucher>
                <active>1</active>
                <model>giftvoucher/payment_giftvoucher</model>
                <title>Gift Card</title>
                <order_status>pending</order_status>
                <invoice>1</invoice>
                <description><![CDATA[Use your Gift card(s) to pay for this order]]></description>
                <allowspecific>0</allowspecific>
                <sort_order>0</sort_order>
            </giftvoucher>
        </payment>
    </default>
    <crontab>
        <jobs>
            <giftvoucher>
                <schedule>
                    <cron_expr>0 0 * * *</cron_expr>
                </schedule>
                <run>
                    <model>giftvoucher/observer::autoSendMail</model>
                </run>
            </giftvoucher>
            <giftvoucherschedule>
                <schedule>
                    <cron_expr>15 */2 * * *</cron_expr>
                </schedule>
                <run>
                    <model>giftvoucher/observer::sendScheduleEmail</model>
                </run>
            </giftvoucherschedule>
            <giftvoucherautodeleteimage>
                <schedule>
                    <cron_expr>30 0 * * *</cron_expr>
                </schedule>
                <run>
                    <model>giftvoucher/observer::autoDeleteImage</model>
                </run>
            </giftvoucherautodeleteimage>
            <giftvoucherautodeleteimage1>
                <schedule>
                    <cron_expr>45 0 1 * *</cron_expr>
                </schedule>
                <run>
                    <model>giftvoucher/observer::autoDeleteImage1</model>
                </run>
            </giftvoucherautodeleteimage1>
        </jobs>
    </crontab> 
</config>
