<?xml version="1.0"?>
<config>
    <modules>
        <Boardroom_ProductLayout>
            <version>0.0.1</version>
        </Boardroom_ProductLayout>
    </modules>
    <frontend>
        <layout>
            <updates>
                <boardroom_productlayout>
                    <file>boardroom_productlayout.xml</file>
                </boardroom_productlayout>
            </updates>
        </layout>
    </frontend>
    <global>
        <resources>
            <boardroom_productlayout_setup>
                <setup>
                    <module>Boardroom_ProductLayout</module>
                    <class>Mage_Catalog_Model_Resource_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </boardroom_productlayout_setup>
            <boardroom_productlayout_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </boardroom_productlayout_write>
            <boardroom_productlayout_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </boardroom_productlayout_read>
        </resources>
    </global>
</config>