<?xml version="1.0" ?>
<config>
	<modules>
		<ParadoxLabs_TokenBase>
			<version>2.2.2.20151125</version>
		</ParadoxLabs_TokenBase>
	</modules>
	<global>
		<blocks>
			<tokenbase>
				<class>ParadoxLabs_TokenBase_Block</class>
			</tokenbase>
			<sales>
				<rewrite>
					<adminhtml_recurring_profile_view>ParadoxLabs_TokenBase_Block_Override_Sales_Adminhtml_Recurring_Profile_View</adminhtml_recurring_profile_view>
				</rewrite>
			</sales>
		</blocks>
		<helpers>
			<tokenbase>
				<class>ParadoxLabs_TokenBase_Helper</class>
			</tokenbase>
		</helpers>
		<models>
			<tokenbase>
				<class>ParadoxLabs_TokenBase_Model</class>
				<resourceModel>tokenbase_resource</resourceModel>
			</tokenbase>
			<tokenbase_resource>
				<class>ParadoxLabs_TokenBase_Model_Resource</class>
				<entities>
					<card>
						<table>paradoxlabs_stored_card</table>
					</card>
				</entities>
			</tokenbase_resource>
			<sales>
				<rewrite>
					<service_quote>ParadoxLabs_TokenBase_Model_Override_Sales_Service_Quote</service_quote>
					<recurring_profile>ParadoxLabs_TokenBase_Model_Override_Sales_Recurring_Profile</recurring_profile>
				</rewrite>
			</sales>
			<authorizenet>
				<rewrite>
					<directpost_observer>ParadoxLabs_TokenBase_Model_Override_Authorizenet_Directpost_Observer</directpost_observer>
				</rewrite>
			</authorizenet>
		</models>
		<resources>
			<tokenbase_setup>
				<setup>
					<module>ParadoxLabs_TokenBase</module>
					<class>Mage_Sales_Model_Mysql4_Setup</class>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</tokenbase_setup>
			<tokenbase_write>
				<connection>
					<use>core_write</use>
				</connection>
			</tokenbase_write>
			<tokenbase_read>
				<connection>
					<use>core_read</use>
				</connection>
			</tokenbase_read>
		</resources>
		<events>
			<!-- Add proper support for partial refunds. -->
			<sales_order_creditmemo_refund>
				<observers>
					<tokenbase_refund>
						<class>tokenbase/observer_refund</class>
						<method>processRefund</method>
					</tokenbase_refund>
				</observers>
			</sales_order_creditmemo_refund>
			<sales_order_payment_capture>
				<observers>
					<tokenbase_capture>
						<class>tokenbase/observer_capture</class>
						<method>processCapture</method>
					</tokenbase_capture>
				</observers>
			</sales_order_payment_capture>
			<sales_recurring_profile_save_before>
				<observers>
					<tokenbase_save_rp_customer>
						<class>tokenbase/observer_recurringProfile</class>
						<method>saveCustomer</method>
					</tokenbase_save_rp_customer>
				</observers>
			</sales_recurring_profile_save_before>
			<sales_recurring_profile_rollback>
				<observers>
					<tokenbase_unsave_rp_customer>
						<class>tokenbase/observer_recurringProfile</class>
						<method>rollbackCustomer</method>
					</tokenbase_unsave_rp_customer>
				</observers>
			</sales_recurring_profile_rollback>
			<tokenbase_before_load_active_cards>
				<observers>
					<tokenbase_check_queue_deletion>
						<class>tokenbase/observer_cardLoad</class>
						<method>checkQueuedForDeletion</method>
					</tokenbase_check_queue_deletion>
				</observers>
			</tokenbase_before_load_active_cards>
			<recurring_profile_failed>
				<observers>
					<tokenbase_check_queue_deletion>
						<class>tokenbase/observer_cardLoad</class>
						<method>checkQueuedForDeletion</method>
					</tokenbase_check_queue_deletion>
				</observers>
			</recurring_profile_failed>
			<tokenbase_card_save_after>
				<observers>
					<tokenbase_update_rp_address>
						<class>tokenbase/observer_recurringProfile</class>
						<method>updateBillingAddresses</method>
					</tokenbase_update_rp_address>
				</observers>
			</tokenbase_card_save_after>
		</events>
		<fieldsets>
			<sales_convert_quote_payment>
				<tokenbase_id>
					<to_order_payment>*</to_order_payment>
				</tokenbase_id>
				<echeck_account_name>
					<to_order_payment>*</to_order_payment>
				</echeck_account_name>
				<echeck_bank_name>
					<to_order_payment>*</to_order_payment>
				</echeck_bank_name>
				<echeck_account_type>
					<to_order_payment>*</to_order_payment>
				</echeck_account_type>
				<echeck_routing_number>
					<to_order_payment>*</to_order_payment>
				</echeck_routing_number>
				<echeck_routing_no>
					<to_order_payment>*</to_order_payment>
				</echeck_routing_no>
				<echeck_account_no>
					<to_order_payment>*</to_order_payment>
				</echeck_account_no>
			</sales_convert_quote_payment>
			<sales_convert_order_payment>
				<tokenbase_id>
					<to_quote_payment>*</to_quote_payment>
				</tokenbase_id>
				<echeck_account_name>
					<to_quote_payment>*</to_quote_payment>
				</echeck_account_name>
				<echeck_bank_name>
					<to_quote_payment>*</to_quote_payment>
				</echeck_bank_name>
				<echeck_account_type>
					<to_quote_payment>*</to_quote_payment>
				</echeck_account_type>
				<echeck_routing_number>
					<to_quote_payment>*</to_quote_payment>
				</echeck_routing_number>
				<echeck_routing_no>
					<to_quote_payment>*</to_quote_payment>
				</echeck_routing_no>
				<echeck_account_no>
					<to_quote_payment>*</to_quote_payment>
				</echeck_account_no>
			</sales_convert_order_payment>
		</fieldsets>
		<!-- Define implementing payment methods - each method will add its entry to this. -->
		<!-- The method key should match its configuration path and shortcode: payment/{code} -->
		<tokenbase>
			<methods />
		</tokenbase>
	</global>
	<crontab>
		<jobs>
			<!-- Bill outstanding recurring profiles on schedule -->
			<tokenbase_rp_billing>
				<schedule>
					<config_path>payment_services/tokenbase/rp_bill_schedule</config_path>
				</schedule>
				<run>
					<model>tokenbase/cron_billing::runRecurringProfiles</model>
				</run>
			</tokenbase_rp_billing>
			<!-- Run maintenance operations regarding stored payment data. -->
			<tokenbase_clean>
				<schedule>
					<cron_expr>0 5 * * *</cron_expr>
				</schedule>
				<run>
					<model>tokenbase/cron_clean::cleanData</model>
				</run>
			</tokenbase_clean>
		</jobs>
	</crontab>
	<default>
		<payment_services>
			<tokenbase>
				<rp_bill_schedule>0 * * * *</rp_bill_schedule>
				<clean_old_cards>1</clean_old_cards>
			</tokenbase>
		</payment_services>
	</default>
	<frontend>
		<routers>
			<!-- Attach our account management page onto the Customer module. -->
			<customer>
				<args>
					<modules>
						<ParadoxLabs_TokenBase before="Mage_Customer">ParadoxLabs_TokenBase_Customer</ParadoxLabs_TokenBase>
					</modules>
				</args>
			</customer>
			<checkout>
				<args>
					<modules>
						<ParadoxLabs_TokenBase before="Mage_Checkout">ParadoxLabs_TokenBase_Override_Checkout</ParadoxLabs_TokenBase>
					</modules>
				</args>
			</checkout>
		</routers>
		<layout>
			<updates>
				<tokenbase module="ParadoxLabs_TokenBase">
					<file>ParadoxLabs_TokenBase.xml</file>
				</tokenbase>
			</updates>
		</layout>
	</frontend>
	<admin>
		<routers>
			<adminhtml>
				<args>
					<modules>
						<tokenbase before="Mage_Adminhtml">ParadoxLabs_TokenBase_Adminhtml</tokenbase>
					</modules>
				</args>
			</adminhtml>
		</routers>
		<layout>
			<updates>
				<tokenbase module="ParadoxLabs_TokenBase">
					<file>ParadoxLabs_TokenBase.xml</file>
				</tokenbase>
			</updates>
		</layout>
	</admin>
	<adminhtml>
		<layout>
			<updates>
				<tokenbase module="ParadoxLabs_TokenBase">
					<file>ParadoxLabs_TokenBase.xml</file>
				</tokenbase>
			</updates>
		</layout>
		<events>
			<controller_action_predispatch>
				<observers>
					<tokenbase_notification>
						<class>tokenbase/observer_feed</class>
						<method>observe</method>
					</tokenbase_notification>
				</observers>
			</controller_action_predispatch>
		</events>
	</adminhtml>
</config>